(
    id: "antidote",
    name: "Antidote",
    description: [
        "A spray-type medicine.",
        "It heals one POKEMON from a",
        "poisoning."
    ],
    usage: (
        consume: true,
        type: Actions([
            CurePokemon(Some(Poison)),
        ]),
    ),
)