(
    id: "mach_bike",
    name: "Mach Bike",
    description: "A folding bicycle that is at least\\ntwice as fast as walking.",
    category: KeyItems,
    price: 0,
    stackable: Stackable(999),
    consume: true,
    usage: (
        conditions: [],
        execute: None,
    ),
)