(
    id: "magnet",
    name: "Magnet",
    description: "An item to be held by a POKéMON.\\nA powerful magnet that boosts the\\npower of ELECTRIC-type moves.",
    category: Items,
    price: 100,
    stackable: Stackable(999),
    consume: true,
    usage: (
        conditions: [],
        execute: None,
    ),
)