(
    id: "mago_berry",
    name: "Mago Berry",
    description: "A hold item that restores HP but\\nmay cause confusion when used.",
    category: Items,
    price: 20,
    stackable: Stackable(999),
    consume: true,
    usage: (
        conditions: [],
        execute: None,
    ),
)