(
    id: "moon_stone",
    name: "Moon Stone",
    description: "A peculiar stone that makes certain\\nspecies of POKéMON evolve.\\nIt is as black as the night sky.",
    category: Items,
    price: 0,
    stackable: Stackable(999),
    consume: true,
    usage: (
        conditions: [],
        execute: None,
    ),
)