(
    id: "potion",
    name: "Potion",
    description: "Heals a pokemon for 20 HP.",
    price: 300,
    consume: true,
    usage: (
        execute: Actions([
            HealPokemon(20),
        ]),
    ),
)