(
    id: "potion",
    name: "Potion",
    description: [
        "Heals a pokemon for 20 HP."
    ],
    usage: (
        consume: true,
        kind: Actions([
            HealPokemon(20),
        ]),
    ),
)