(
    id: "powder_jar",
    name: "Powder Jar",
    description: "A jar for storing BERRY POWDER\\nmade using a BERRY CRUSHER.",
    category: KeyItems,
    price: 0,
    stackable: Stackable(999),
    consume: true,
    usage: (
        conditions: [],
        execute: None,
    ),
)