(
    id: "quick_claw",
    name: "Quick Claw",
    description: "An item to be held by a POKéMON.\\nA light and sharp claw. The holder\\nmay be able to strike first.",
    category: Items,
    price: 100,
    stackable: Stackable(999),
    consume: true,
    usage: (
        conditions: [],
        execute: None,
    ),
)