(
    id: "super_potion",
    name: "Super Potion",
    description: "Heals a pokemon for 50 HP.",
    usage: (
        consume: true,
        type: Actions([
            HealPokemon(50),
        ]),
    ),
)