(
    id: "super_potion",
    name: "Super Potion",
    description: "A spray-type wound medicine.\\nIt restores the HP of one POKéMON\\nby 50 points.",
    category: Items,
    price: 700,
    stackable: Stackable(999),
    consume: true,
    usage: (
        conditions: [],
        execute: None,
    ),
)