(
    id: 181,
    name: "Ampharos",
    types: (
        primary: Electric,
        secondary: None,
    ),
    moves: [
        (30, "thunder-punch"),
        (1, "tackle"),
        (1, "growl"),
        (1, "thunder-shock"),
        (9, "thunder-shock"),
        (1, "thunder-wave"),
        (18, "thunder-wave"),
        (57, "thunder"),
        (42, "light-screen"),
        (27, "cotton-spore"),
    ],
    base: {
        Health: 90,
        Attack: 75,
        Defense: 85,
        SpAttack: 115,
        SpDefense: 90,
        Speed: 55,
    },
    species: "Light",
    evolution: None,
    height: 14,
    weight: 615,
    training: (
        base_exp: 230,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
)