(
    id: 10,
    name: "Caterpie",
    types: (
        primary: Bug,
        secondary: None,
    ),
    moves: [
        (1, "tackle"),
        (1, "string-shot"),
    ],
    base: {
        Health: 45,
        Attack: 30,
        Defense: 35,
        SpAttack: 20,
        SpDefense: 20,
        Speed: 45,
    },
    species: "Worm",
    evolution: None,
    height: 3,
    weight: 29,
    training: (
        base_exp: 39,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)