(
    id: 251,
    name: "Celebi",
    types: (
        primary: Psychic,
        secondary: Some(Grass),
    ),
    moves: [
        (1, "leech-seed"),
        (1, "confusion"),
        (1, "recover"),
        (50, "perish-song"),
        (1, "heal-bell"),
        (10, "safeguard"),
        (40, "baton-pass"),
        (20, "ancient-power"),
        (30, "future-sight"),
    ],
    base: {
        Health: 100,
        Attack: 100,
        Defense: 100,
        SpAttack: 100,
        SpDefense: 100,
        Speed: 100,
    },
    species: "Time",
    evolution: None,
    height: 6,
    weight: 50,
    training: (
        base_exp: 300,
        growth: MediumSlow,
    ),
    breeding: (
        gender: None,
    ),
)