(
    id: 4,
    name: "Charmander",
    types: (
        primary: Fire,
        secondary: None,
    ),
    moves: [
        (1, "scratch"),
        (1, "growl"),
        (7, "ember"),
        (31, "flamethrower"),
        (43, "dragon-rage"),
        (49, "fire-spin"),
        (19, "smokescreen"),
        (37, "slash"),
        (25, "scary-face"),
        (13, "metal-claw"),
    ],
    base: {
        Health: 39,
        Attack: 52,
        Defense: 43,
        SpAttack: 60,
        SpDefense: 50,
        Speed: 65,
    },
    species: "Lizard",
    evolution: None,
    height: 6,
    weight: 85,
    training: (
        base_exp: 62,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(1),
    ),
)