(
    id: 5,
    name: "Charmeleon",
    types: (
        primary: Fire,
        secondary: None,
    ),
    moves: [
        (1, "scratch"),
        (1, "growl"),
        (1, "ember"),
        (7, "ember"),
        (34, "flamethrower"),
        (48, "dragon-rage"),
        (55, "fire-spin"),
        (20, "smokescreen"),
        (41, "slash"),
        (27, "scary-face"),
        (13, "metal-claw"),
    ],
    base: {
        Health: 58,
        Attack: 64,
        Defense: 58,
        SpAttack: 80,
        SpDefense: 65,
        Speed: 80,
    },
    species: "Flame",
    evolution: None,
    height: 11,
    weight: 190,
    training: (
        base_exp: 142,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(1),
    ),
)