(
    id: 36,
    name: "Clefable",
    types: (
        primary: Fairy,
        secondary: None,
    ),
    moves: [
        (1, "double-slap"),
        (1, "sing"),
        (1, "minimize"),
        (1, "metronome"),
    ],
    base: {
        Health: 95,
        Attack: 70,
        Defense: 73,
        SpAttack: 95,
        SpDefense: 90,
        Speed: 60,
    },
    species: "Fairy",
    evolution: None,
    height: 13,
    weight: 400,
    training: (
        base_exp: 242,
        growth: Fast,
    ),
    breeding: (
        gender: Some(6),
    ),
)