(
    id: 132,
    name: "Ditto",
    types: (
        primary: Normal,
        secondary: None,
    ),
    moves: [
        (1, "transform"),
    ],
    base: {
        Health: 48,
        Attack: 48,
        Defense: 48,
        SpAttack: 48,
        SpDefense: 48,
        Speed: 48,
    },
    species: "Transform",
    evolution: None,
    height: 3,
    weight: 40,
    training: (
        base_exp: 101,
        growth: Medium,
    ),
    breeding: (
        gender: None,
    ),
)