(
    id: 149,
    name: "Dragonite",
    types: (
        primary: Dragon,
        secondary: Some(Flying),
    ),
    moves: [
        (55, "wing-attack"),
        (29, "slam"),
        (1, "wrap"),
        (1, "leer"),
        (75, "hyper-beam"),
        (22, "dragon-rage"),
        (1, "thunder-wave"),
        (8, "thunder-wave"),
        (38, "agility"),
        (61, "outrage"),
        (47, "safeguard"),
        (1, "twister"),
        (15, "twister"),
    ],
    base: {
        Health: 91,
        Attack: 134,
        Defense: 95,
        SpAttack: 100,
        SpDefense: 100,
        Speed: 80,
    },
    species: "Dragon",
    evolution: None,
    height: 22,
    weight: 2100,
    training: (
        base_exp: 300,
        growth: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
)