(
    id: 356,
    name: "Dusclops",
    types: (
        primary: Ghost,
        secondary: None,
    ),
    moves: [
        (1, "bind"),
        (1, "leer"),
        (1, "disable"),
        (5, "disable"),
        (1, "night-shade"),
        (23, "confuse-ray"),
        (34, "curse"),
        (12, "foresight"),
        (51, "mean-look"),
        (27, "pursuit"),
        (58, "future-sight"),
        (41, "will-o-wisp"),
        (16, "astonish"),
        (37, "shadow-punch"),
    ],
    base: {
        Health: 40,
        Attack: 70,
        Defense: 130,
        SpAttack: 60,
        SpDefense: 130,
        Speed: 25,
    },
    species: "Beckon",
    evolution: None,
    height: 16,
    weight: 306,
    training: (
        base_exp: 159,
        growth: Fast,
    ),
    breeding: (
        gender: Some(4),
    ),
)