(
    id: 23,
    name: "Ekans",
    types: (
        primary: Poison,
        secondary: None,
    ),
    moves: [
        (1, "wrap"),
        (8, "poison-sting"),
        (1, "leer"),
        (13, "bite"),
        (32, "acid"),
        (25, "screech"),
        (44, "haze"),
        (20, "glare"),
        (37, "stockpile"),
        (37, "spit-up"),
        (37, "swallow"),
    ],
    base: {
        Health: 35,
        Attack: 60,
        Defense: 44,
        SpAttack: 40,
        SpDefense: 54,
        Speed: 55,
    },
    species: "Snake",
    evolution: None,
    height: 20,
    weight: 69,
    training: (
        base_exp: 58,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)