(
    id: 205,
    name: "Forretress",
    types: (
        primary: Bug,
        secondary: Some(Steel),
    ),
    moves: [
        (1, "tackle"),
        (15, "take-down"),
        (59, "double-edge"),
        (29, "bide"),
        (1, "self-destruct"),
        (8, "self-destruct"),
        (39, "explosion"),
        (1, "protect"),
        (49, "spikes"),
        (31, "zap-cannon"),
        (22, "rapid-spin"),
    ],
    base: {
        Health: 75,
        Attack: 90,
        Defense: 140,
        SpAttack: 60,
        SpDefense: 60,
        Speed: 40,
    },
    species: "Bagworm",
    evolution: None,
    height: 12,
    weight: 1258,
    training: (
        base_exp: 163,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)