(
    id: 162,
    name: "Furret",
    types: (
        primary: Normal,
        secondary: None,
    ),
    moves: [
        (1, "scratch"),
        (28, "slam"),
        (1, "quick-attack"),
        (7, "quick-attack"),
        (1, "defense-curl"),
        (4, "defense-curl"),
        (59, "amnesia"),
        (12, "fury-swipes"),
        (48, "rest"),
        (37, "follow-me"),
        (19, "helping-hand"),
    ],
    base: {
        Health: 85,
        Attack: 76,
        Defense: 64,
        SpAttack: 45,
        SpDefense: 55,
        Speed: 90,
    },
    species: "Long",
    evolution: None,
    height: 18,
    weight: 325,
    training: (
        base_exp: 145,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)