(
    id: 362,
    name: "Glalie",
    types: (
        primary: Ice,
        secondary: None,
    ),
    moves: [
        (19, "headbutt"),
        (1, "leer"),
        (1, "bite"),
        (10, "bite"),
        (34, "ice-beam"),
        (53, "blizzard"),
        (1, "double-team"),
        (7, "double-team"),
        (1, "powder-snow"),
        (25, "protect"),
        (16, "icy-wind"),
        (28, "crunch"),
        (42, "hail"),
        (61, "sheer-cold"),
    ],
    base: {
        Health: 80,
        Attack: 80,
        Defense: 80,
        SpAttack: 80,
        SpDefense: 80,
        Speed: 80,
    },
    species: "Face",
    evolution: None,
    height: 15,
    weight: 2565,
    training: (
        base_exp: 168,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)