(
    id: 210,
    name: "Granbull",
    types: (
        primary: Fairy,
        secondary: None,
    ),
    moves: [
        (1, "tackle"),
        (49, "take-down"),
        (4, "tail-whip"),
        (13, "bite"),
        (28, "roar"),
        (38, "rage"),
        (19, "lick"),
        (1, "scary-face"),
        (8, "charm"),
        (61, "crunch"),
    ],
    base: {
        Health: 90,
        Attack: 120,
        Defense: 75,
        SpAttack: 60,
        SpDefense: 60,
        Speed: 45,
    },
    species: "Fairy",
    evolution: None,
    height: 14,
    weight: 487,
    training: (
        base_exp: 158,
        growth: Fast,
    ),
    breeding: (
        gender: Some(6),
    ),
)