(
    id: 75,
    name: "Graveler",
    types: (
        primary: Rock,
        secondary: Some(Ground),
    ),
    moves: [
        (1, "tackle"),
        (62, "double-edge"),
        (1, "rock-throw"),
        (11, "rock-throw"),
        (45, "earthquake"),
        (1, "defense-curl"),
        (21, "self-destruct"),
        (53, "explosion"),
        (29, "rollout"),
        (16, "magnitude"),
        (1, "mud-sport"),
        (6, "mud-sport"),
        (37, "rock-blast"),
    ],
    base: {
        Health: 55,
        Attack: 95,
        Defense: 115,
        SpAttack: 45,
        SpDefense: 45,
        Speed: 35,
    },
    species: "Rock",
    evolution: None,
    height: 10,
    weight: 1050,
    training: (
        base_exp: 137,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
)