(
    id: 326,
    name: "Grumpig",
    types: (
        primary: Psychic,
        secondary: None,
    ),
    moves: [
        (1, "psybeam"),
        (16, "psybeam"),
        (37, "psychic"),
        (25, "confuse-ray"),
        (1, "psywave"),
        (7, "psywave"),
        (1, "splash"),
        (43, "rest"),
        (43, "snore"),
        (19, "psych-up"),
        (28, "magic-coat"),
        (1, "odor-sleuth"),
        (10, "odor-sleuth"),
        (55, "bounce"),
    ],
    base: {
        Health: 80,
        Attack: 45,
        Defense: 65,
        SpAttack: 90,
        SpDefense: 110,
        Speed: 80,
    },
    species: "Manipulate",
    evolution: None,
    height: 9,
    weight: 715,
    training: (
        base_exp: 165,
        growth: Fast,
    ),
    breeding: (
        gender: Some(4),
    ),
)