(
    id: 107,
    name: "Hitmonchan",
    types: (
        primary: Fighting,
        secondary: None,
    ),
    moves: [
        (1, "comet-punch"),
        (38, "mega-punch"),
        (26, "fire-punch"),
        (26, "ice-punch"),
        (26, "thunder-punch"),
        (50, "counter"),
        (7, "agility"),
        (20, "mach-punch"),
        (44, "detect"),
        (13, "pursuit"),
        (1, "revenge"),
        (32, "sky-uppercut"),
    ],
    base: {
        Health: 50,
        Attack: 105,
        Defense: 79,
        SpAttack: 35,
        SpDefense: 110,
        Speed: 76,
    },
    species: "Punching",
    evolution: None,
    height: 14,
    weight: 502,
    training: (
        base_exp: 159,
        growth: Medium,
    ),
    breeding: (
        gender: Some(0),
    ),
)