(
    id: 385,
    name: "Jirachi",
    types: (
        primary: Steel,
        secondary: Some(Psychic),
    ),
    moves: [
        (35, "double-edge"),
        (1, "confusion"),
        (20, "psychic"),
        (10, "swift"),
        (5, "rest"),
        (30, "rest"),
        (40, "future-sight"),
        (15, "helping-hand"),
        (1, "wish"),
        (25, "refresh"),
        (45, "cosmic-power"),
        (50, "doom-desire"),
    ],
    base: {
        Health: 100,
        Attack: 100,
        Defense: 100,
        SpAttack: 100,
        SpDefense: 100,
        Speed: 100,
    },
    species: "Wish",
    evolution: None,
    height: 3,
    weight: 11,
    training: (
        base_exp: 300,
        growth: Slow,
    ),
    breeding: (
        gender: None,
    ),
)