(
    id: 141,
    name: "Kabutops",
    types: (
        primary: Rock,
        secondary: Some(Water),
    ),
    moves: [
        (1, "scratch"),
        (31, "sand-attack"),
        (1, "leer"),
        (19, "leer"),
        (1, "absorb"),
        (13, "absorb"),
        (55, "mega-drain"),
        (1, "harden"),
        (40, "slash"),
        (37, "endure"),
        (1, "fury-cutter"),
        (65, "ancient-power"),
        (46, "metal-sound"),
        (25, "mud-shot"),
    ],
    base: {
        Health: 60,
        Attack: 115,
        Defense: 105,
        SpAttack: 65,
        SpDefense: 70,
        Speed: 80,
    },
    species: "Shellfish",
    evolution: None,
    height: 13,
    weight: 405,
    training: (
        base_exp: 173,
        growth: Medium,
    ),
    breeding: (
        gender: Some(1),
    ),
)