(
    id: 131,
    name: "Lapras",
    types: (
        primary: Water,
        secondary: Some(Ice),
    ),
    moves: [
        (13, "body-slam"),
        (1, "growl"),
        (1, "sing"),
        (7, "mist"),
        (1, "water-gun"),
        (49, "hydro-pump"),
        (31, "ice-beam"),
        (19, "confuse-ray"),
        (25, "perish-song"),
        (43, "safeguard"),
        (37, "rain-dance"),
        (55, "sheer-cold"),
    ],
    base: {
        Health: 130,
        Attack: 85,
        Defense: 80,
        SpAttack: 85,
        SpDefense: 95,
        Speed: 60,
    },
    species: "Transport",
    evolution: None,
    height: 25,
    weight: 2200,
    training: (
        base_exp: 187,
        growth: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
)