(
    id: 381,
    name: "Latios",
    types: (
        primary: Dragon,
        secondary: Some(Psychic),
    ),
    moves: [
        (40, "psychic"),
        (45, "recover"),
        (1, "psywave"),
        (25, "protect"),
        (15, "safeguard"),
        (20, "dragon-breath"),
        (5, "memento"),
        (10, "helping-hand"),
        (30, "refresh"),
        (35, "luster-purge"),
        (50, "dragon-dance"),
    ],
    base: {
        Health: 80,
        Attack: 90,
        Defense: 80,
        SpAttack: 130,
        SpDefense: 110,
        Speed: 110,
    },
    species: "Eon",
    evolution: None,
    height: 20,
    weight: 600,
    training: (
        base_exp: 300,
        growth: Slow,
    ),
    breeding: (
        gender: Some(0),
    ),
)