(
    id: 219,
    name: "Magcargo",
    types: (
        primary: Fire,
        secondary: Some(Rock),
    ),
    moves: [
        (60, "body-slam"),
        (1, "ember"),
        (8, "ember"),
        (36, "flamethrower"),
        (1, "rock-throw"),
        (15, "rock-throw"),
        (22, "harden"),
        (1, "smog"),
        (29, "amnesia"),
        (48, "rock-slide"),
        (1, "yawn"),
    ],
    base: {
        Health: 60,
        Attack: 50,
        Defense: 120,
        SpAttack: 90,
        SpDefense: 80,
        Speed: 30,
    },
    species: "Lava",
    evolution: None,
    height: 8,
    weight: 550,
    training: (
        base_exp: 151,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)