(
    id: 241,
    name: "Miltank",
    types: (
        primary: Normal,
        secondary: None,
    ),
    moves: [
        (13, "stomp"),
        (1, "tackle"),
        (43, "body-slam"),
        (4, "growl"),
        (8, "defense-curl"),
        (26, "bide"),
        (34, "rollout"),
        (19, "milk-drink"),
        (53, "heal-bell"),
    ],
    base: {
        Health: 95,
        Attack: 80,
        Defense: 105,
        SpAttack: 40,
        SpDefense: 70,
        Speed: 100,
    },
    species: "Milk",
    evolution: None,
    height: 12,
    weight: 755,
    training: (
        base_exp: 172,
        growth: Slow,
    ),
    breeding: (
        gender: Some(8),
    ),
)