(
    id: 34,
    name: "Nidoking",
    types: (
        primary: Poison,
        secondary: Some(Ground),
    ),
    moves: [
        (1, "double-kick"),
        (22, "thrash"),
        (1, "poison-sting"),
        (1, "peck"),
        (1, "focus-energy"),
        (43, "megahorn"),
    ],
    base: {
        Health: 81,
        Attack: 102,
        Defense: 77,
        SpAttack: 85,
        SpDefense: 75,
        Speed: 85,
    },
    species: "Drill",
    evolution: None,
    height: 14,
    weight: 620,
    training: (
        base_exp: 253,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(0),
    ),
)