(
    id: 38,
    name: "Ninetales",
    types: (
        primary: Fire,
        secondary: None,
    ),
    moves: [
        (1, "ember"),
        (45, "fire-spin"),
        (1, "quick-attack"),
        (1, "confuse-ray"),
        (1, "safeguard"),
    ],
    base: {
        Health: 73,
        Attack: 76,
        Defense: 75,
        SpAttack: 81,
        SpDefense: 100,
        Speed: 100,
    },
    species: "Fox",
    evolution: None,
    height: 11,
    weight: 199,
    training: (
        base_exp: 177,
        growth: Medium,
    ),
    breeding: (
        gender: Some(6),
    ),
)