(
    id: 291,
    name: "Ninjask",
    types: (
        primary: Bug,
        secondary: Some(Flying),
    ),
    moves: [
        (1, "scratch"),
        (25, "swords-dance"),
        (1, "sand-attack"),
        (9, "sand-attack"),
        (38, "agility"),
        (20, "screech"),
        (20, "double-team"),
        (1, "harden"),
        (1, "leech-life"),
        (5, "leech-life"),
        (14, "fury-swipes"),
        (31, "slash"),
        (19, "mind-reader"),
        (20, "fury-cutter"),
        (45, "baton-pass"),
    ],
    base: {
        Health: 61,
        Attack: 90,
        Defense: 45,
        SpAttack: 50,
        SpDefense: 50,
        Speed: 160,
    },
    species: "Ninja",
    evolution: None,
    height: 8,
    weight: 120,
    training: (
        base_exp: 160,
        growth: SlowThenVeryFast,
    ),
    breeding: (
        gender: Some(4),
    ),
)