(
    id: 224,
    name: "Octillery",
    types: (
        primary: Water,
        secondary: None,
    ),
    moves: [
        (1, "water-gun"),
        (54, "ice-beam"),
        (22, "psybeam"),
        (22, "bubble-beam"),
        (22, "aurora-beam"),
        (70, "hyper-beam"),
        (38, "focus-energy"),
        (11, "constrict"),
        (25, "octazooka"),
    ],
    base: {
        Health: 75,
        Attack: 105,
        Defense: 75,
        SpAttack: 105,
        SpDefense: 75,
        Speed: 45,
    },
    species: "Jet",
    evolution: None,
    height: 9,
    weight: 285,
    training: (
        base_exp: 168,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)