(
    id: 139,
    name: "Omastar",
    types: (
        primary: Rock,
        secondary: Some(Water),
    ),
    moves: [
        (31, "leer"),
        (1, "bite"),
        (13, "bite"),
        (1, "water-gun"),
        (19, "water-gun"),
        (65, "hydro-pump"),
        (1, "withdraw"),
        (40, "spike-cannon"),
        (1, "constrict"),
        (37, "protect"),
        (55, "ancient-power"),
        (46, "tickle"),
        (25, "mud-shot"),
    ],
    base: {
        Health: 70,
        Attack: 60,
        Defense: 125,
        SpAttack: 115,
        SpDefense: 70,
        Speed: 55,
    },
    species: "Spiral",
    evolution: None,
    height: 10,
    weight: 350,
    training: (
        base_exp: 173,
        growth: Medium,
    ),
    breeding: (
        gender: Some(1),
    ),
)