(
    id: 231,
    name: "Phanpy",
    types: (
        primary: Ground,
        secondary: None,
    ),
    moves: [
        (1, "tackle"),
        (25, "take-down"),
        (49, "double-edge"),
        (1, "growl"),
        (9, "defense-curl"),
        (17, "flail"),
        (41, "endure"),
        (33, "rollout"),
        (1, "odor-sleuth"),
    ],
    base: {
        Health: 90,
        Attack: 60,
        Defense: 60,
        SpAttack: 40,
        SpDefense: 40,
        Speed: 40,
    },
    species: "Long",
    evolution: None,
    height: 5,
    weight: 335,
    training: (
        base_exp: 66,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)