(
    id: 25,
    name: "Pikachu",
    types: (
        primary: Electric,
        secondary: None,
    ),
    moves: [
        (20, "slam"),
        (6, "tail-whip"),
        (1, "growl"),
        (1, "thunder-shock"),
        (26, "thunderbolt"),
        (8, "thunder-wave"),
        (41, "thunder"),
        (33, "agility"),
        (11, "quick-attack"),
        (15, "double-team"),
        (50, "light-screen"),
    ],
    base: {
        Health: 35,
        Attack: 55,
        Defense: 40,
        SpAttack: 50,
        SpDefense: 50,
        Speed: 90,
    },
    species: "Mouse",
    evolution: None,
    height: 4,
    weight: 60,
    training: (
        base_exp: 112,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)