(
    id: 61,
    name: "Poliwhirl",
    types: (
        primary: Water,
        secondary: None,
    ),
    moves: [
        (19, "double-slap"),
        (35, "body-slam"),
        (1, "water-gun"),
        (13, "water-gun"),
        (51, "hydro-pump"),
        (1, "hypnosis"),
        (7, "hypnosis"),
        (1, "bubble"),
        (43, "belly-drum"),
        (27, "rain-dance"),
    ],
    base: {
        Health: 65,
        Attack: 65,
        Defense: 65,
        SpAttack: 50,
        SpDefense: 50,
        Speed: 90,
    },
    species: "Tadpole",
    evolution: None,
    height: 10,
    weight: 200,
    training: (
        base_exp: 135,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
)