(
    id: 261,
    name: "Poochyena",
    types: (
        primary: Dark,
        secondary: None,
    ),
    moves: [
        (9, "sand-attack"),
        (1, "tackle"),
        (33, "take-down"),
        (13, "bite"),
        (21, "roar"),
        (45, "thief"),
        (29, "scary-face"),
        (25, "swagger"),
        (41, "crunch"),
        (37, "taunt"),
        (17, "odor-sleuth"),
        (5, "howl"),
    ],
    base: {
        Health: 35,
        Attack: 55,
        Defense: 35,
        SpAttack: 30,
        SpDefense: 30,
        Speed: 35,
    },
    species: "Bite",
    evolution: None,
    height: 5,
    weight: 136,
    training: (
        base_exp: 56,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)