(
    id: 26,
    name: "Raichu",
    types: (
        primary: Electric,
        secondary: None,
    ),
    moves: [
        (1, "tail-whip"),
        (1, "thunder-shock"),
        (1, "thunderbolt"),
        (1, "quick-attack"),
    ],
    base: {
        Health: 60,
        Attack: 90,
        Defense: 55,
        SpAttack: 90,
        SpDefense: 80,
        Speed: 110,
    },
    species: "Mouse",
    evolution: None,
    height: 8,
    weight: 300,
    training: (
        base_exp: 243,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)