(
    id: 280,
    name: "Ralts",
    types: (
        primary: Psychic,
        secondary: Some(Fairy),
    ),
    moves: [
        (1, "growl"),
        (6, "confusion"),
        (26, "psychic"),
        (41, "hypnosis"),
        (16, "teleport"),
        (11, "double-team"),
        (46, "dream-eater"),
        (36, "future-sight"),
        (31, "imprison"),
        (21, "calm-mind"),
    ],
    base: {
        Health: 28,
        Attack: 25,
        Defense: 25,
        SpAttack: 45,
        SpDefense: 35,
        Speed: 40,
    },
    species: "Feeling",
    evolution: None,
    height: 4,
    weight: 66,
    training: (
        base_exp: 40,
        growth: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
)