(
    id: 377,
    name: "Regirock",
    types: (
        primary: Rock,
        secondary: None,
    ),
    moves: [
        (65, "hyper-beam"),
        (9, "rock-throw"),
        (1, "explosion"),
        (17, "curse"),
        (49, "zap-cannon"),
        (57, "lock-on"),
        (33, "ancient-power"),
        (25, "superpower"),
        (41, "iron-defense"),
    ],
    base: {
        Health: 80,
        Attack: 100,
        Defense: 200,
        SpAttack: 50,
        SpDefense: 100,
        Speed: 50,
    },
    species: "Rock",
    evolution: None,
    height: 17,
    weight: 2300,
    training: (
        base_exp: 290,
        growth: Slow,
    ),
    breeding: (
        gender: None,
    ),
)