(
    id: 223,
    name: "Remoraid",
    types: (
        primary: Water,
        secondary: None,
    ),
    moves: [
        (1, "water-gun"),
        (44, "ice-beam"),
        (22, "psybeam"),
        (22, "bubble-beam"),
        (22, "aurora-beam"),
        (55, "hyper-beam"),
        (33, "focus-energy"),
        (11, "lock-on"),
    ],
    base: {
        Health: 35,
        Attack: 65,
        Defense: 35,
        SpAttack: 65,
        SpDefense: 35,
        Speed: 65,
    },
    species: "Jet",
    evolution: None,
    height: 6,
    weight: 120,
    training: (
        base_exp: 60,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)