(
    id: 373,
    name: "Salamence",
    types: (
        primary: Dragon,
        secondary: Some(Flying),
    ),
    moves: [
        (50, "fly"),
        (1, "headbutt"),
        (17, "headbutt"),
        (93, "double-edge"),
        (1, "leer"),
        (9, "leer"),
        (1, "bite"),
        (5, "bite"),
        (25, "ember"),
        (1, "rage"),
        (21, "focus-energy"),
        (30, "protect"),
        (47, "scary-face"),
        (38, "dragon-breath"),
        (61, "crunch"),
        (79, "dragon-claw"),
    ],
    base: {
        Health: 95,
        Attack: 135,
        Defense: 80,
        SpAttack: 110,
        SpDefense: 80,
        Speed: 100,
    },
    species: "Dragon",
    evolution: None,
    height: 15,
    weight: 1026,
    training: (
        base_exp: 300,
        growth: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
)