(
    id: 119,
    name: "Seaking",
    types: (
        primary: Water,
        secondary: None,
    ),
    moves: [
        (15, "horn-attack"),
        (29, "fury-attack"),
        (49, "horn-drill"),
        (1, "tail-whip"),
        (1, "supersonic"),
        (10, "supersonic"),
        (1, "peck"),
        (61, "agility"),
        (41, "waterfall"),
        (24, "flail"),
        (69, "megahorn"),
        (1, "water-sport"),
    ],
    base: {
        Health: 80,
        Attack: 92,
        Defense: 65,
        SpAttack: 65,
        SpDefense: 80,
        Speed: 68,
    },
    species: "Goldfish",
    evolution: None,
    height: 13,
    weight: 390,
    training: (
        base_exp: 158,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)