(
    id: 364,
    name: "Sealeo",
    types: (
        primary: Ice,
        secondary: Some(Water),
    ),
    moves: [
        (19, "body-slam"),
        (1, "growl"),
        (1, "water-gun"),
        (47, "blizzard"),
        (25, "aurora-beam"),
        (1, "defense-curl"),
        (39, "rest"),
        (39, "snore"),
        (1, "powder-snow"),
        (7, "encore"),
        (31, "hail"),
        (13, "ice-ball"),
        (55, "sheer-cold"),
    ],
    base: {
        Health: 90,
        Attack: 60,
        Defense: 70,
        SpAttack: 75,
        SpDefense: 70,
        Speed: 45,
    },
    species: "Ball",
    evolution: None,
    height: 11,
    weight: 876,
    training: (
        base_exp: 144,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
)