(
    id: 300,
    name: "Skitty",
    types: (
        primary: Normal,
        secondary: None,
    ),
    moves: [
        (15, "double-slap"),
        (1, "tackle"),
        (39, "double-edge"),
        (3, "tail-whip"),
        (1, "growl"),
        (13, "sing"),
        (27, "feint-attack"),
        (25, "charm"),
        (7, "attract"),
        (37, "heal-bell"),
        (19, "assist"),
        (31, "covet"),
    ],
    base: {
        Health: 50,
        Attack: 45,
        Defense: 45,
        SpAttack: 35,
        SpDefense: 35,
        Speed: 50,
    },
    species: "Kitten",
    evolution: None,
    height: 6,
    weight: 110,
    training: (
        base_exp: 52,
        growth: Fast,
    ),
    breeding: (
        gender: Some(6),
    ),
)