(
    id: 80,
    name: "Slowbro",
    types: (
        primary: Water,
        secondary: Some(Psychic),
    ),
    moves: [
        (29, "headbutt"),
        (1, "tackle"),
        (1, "growl"),
        (6, "growl"),
        (24, "disable"),
        (13, "water-gun"),
        (17, "confusion"),
        (44, "psychic"),
        (37, "withdraw"),
        (36, "amnesia"),
        (1, "curse"),
        (55, "psych-up"),
        (1, "yawn"),
    ],
    base: {
        Health: 95,
        Attack: 75,
        Defense: 110,
        SpAttack: 100,
        SpDefense: 80,
        Speed: 30,
    },
    species: "Hermit",
    evolution: None,
    height: 16,
    weight: 785,
    training: (
        base_exp: 172,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)