(
    id: 218,
    name: "Slugma",
    types: (
        primary: Fire,
        secondary: None,
    ),
    moves: [
        (50, "body-slam"),
        (8, "ember"),
        (36, "flamethrower"),
        (15, "rock-throw"),
        (22, "harden"),
        (1, "smog"),
        (29, "amnesia"),
        (43, "rock-slide"),
        (1, "yawn"),
    ],
    base: {
        Health: 40,
        Attack: 40,
        Defense: 40,
        SpAttack: 70,
        SpDefense: 40,
        Speed: 20,
    },
    species: "Lava",
    evolution: None,
    height: 7,
    weight: 350,
    training: (
        base_exp: 50,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)