(
    id: 327,
    name: "Spinda",
    types: (
        primary: Normal,
        secondary: None,
    ),
    moves: [
        (1, "tackle"),
        (56, "thrash"),
        (45, "double-edge"),
        (16, "psybeam"),
        (23, "hypnosis"),
        (27, "dizzy-punch"),
        (49, "flail"),
        (12, "feint-attack"),
        (38, "psych-up"),
        (5, "uproar"),
        (34, "teeter-dance"),
    ],
    base: {
        Health: 60,
        Attack: 60,
        Defense: 60,
        SpAttack: 60,
        SpDefense: 60,
        Speed: 60,
    },
    species: "Spot",
    evolution: None,
    height: 11,
    weight: 50,
    training: (
        base_exp: 126,
        growth: Fast,
    ),
    breeding: (
        gender: Some(4),
    ),
)