(
    id: 234,
    name: "Stantler",
    types: (
        primary: Normal,
        secondary: None,
    ),
    moves: [
        (21, "stomp"),
        (27, "sand-attack"),
        (1, "tackle"),
        (37, "take-down"),
        (7, "leer"),
        (17, "hypnosis"),
        (41, "confuse-ray"),
        (31, "role-play"),
        (11, "astonish"),
        (47, "calm-mind"),
    ],
    base: {
        Health: 73,
        Attack: 95,
        Defense: 62,
        SpAttack: 85,
        SpDefense: 65,
        Speed: 85,
    },
    species: "Big",
    evolution: None,
    height: 14,
    weight: 712,
    training: (
        base_exp: 163,
        growth: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
)