(
    id: 191,
    name: "Sunkern",
    types: (
        primary: Grass,
        secondary: None,
    ),
    moves: [
        (1, "absorb"),
        (13, "mega-drain"),
        (6, "growth"),
        (42, "giga-drain"),
        (37, "synthesis"),
        (30, "sunny-day"),
        (18, "ingrain"),
        (25, "endeavor"),
    ],
    base: {
        Health: 30,
        Attack: 30,
        Defense: 30,
        SpAttack: 30,
        SpDefense: 30,
        Speed: 30,
    },
    species: "Seed",
    evolution: None,
    height: 3,
    weight: 18,
    training: (
        base_exp: 36,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
)