(
    id: 128,
    name: "Tauros",
    types: (
        primary: Normal,
        secondary: None,
    ),
    moves: [
        (8, "horn-attack"),
        (1, "tackle"),
        (53, "take-down"),
        (43, "thrash"),
        (1, "tail-whip"),
        (4, "rage"),
        (34, "rest"),
        (13, "scary-face"),
        (26, "swagger"),
        (19, "pursuit"),
    ],
    base: {
        Health: 75,
        Attack: 100,
        Defense: 95,
        SpAttack: 40,
        SpDefense: 70,
        Speed: 110,
    },
    species: "Wild",
    evolution: None,
    height: 14,
    weight: 884,
    training: (
        base_exp: 172,
        growth: Slow,
    ),
    breeding: (
        gender: Some(0),
    ),
)