(
    id: 175,
    name: "Togepi",
    types: (
        primary: Fairy,
        secondary: None,
    ),
    moves: [
        (37, "double-edge"),
        (1, "growl"),
        (4, "metronome"),
        (9, "sweet-kiss"),
        (1, "charm"),
        (33, "safeguard"),
        (41, "baton-pass"),
        (17, "encore"),
        (21, "ancient-power"),
        (25, "follow-me"),
        (29, "wish"),
        (13, "yawn"),
    ],
    base: {
        Health: 35,
        Attack: 20,
        Defense: 65,
        SpAttack: 40,
        SpDefense: 65,
        Speed: 20,
    },
    species: "Spike",
    evolution: None,
    height: 3,
    weight: 15,
    training: (
        base_exp: 49,
        growth: Fast,
    ),
    breeding: (
        gender: Some(1),
    ),
)