(
    id: 176,
    name: "Togetic",
    types: (
        primary: Fairy,
        secondary: Some(Flying),
    ),
    moves: [
        (37, "double-edge"),
        (1, "growl"),
        (1, "metronome"),
        (4, "metronome"),
        (1, "sweet-kiss"),
        (9, "sweet-kiss"),
        (1, "charm"),
        (33, "safeguard"),
        (41, "baton-pass"),
        (17, "encore"),
        (21, "ancient-power"),
        (25, "follow-me"),
        (29, "wish"),
        (13, "yawn"),
        (1, "magical-leaf"),
    ],
    base: {
        Health: 55,
        Attack: 40,
        Defense: 85,
        SpAttack: 80,
        SpDefense: 105,
        Speed: 40,
    },
    species: "Happiness",
    evolution: None,
    height: 6,
    weight: 32,
    training: (
        base_exp: 142,
        growth: Fast,
    ),
    breeding: (
        gender: Some(1),
    ),
)