(
    id: 236,
    name: "Tyrogue",
    types: (
        primary: Fighting,
        secondary: None,
    ),
    moves: [
        (1, "tackle"),
    ],
    base: {
        Health: 35,
        Attack: 35,
        Defense: 35,
        SpAttack: 35,
        SpDefense: 35,
        Speed: 35,
    },
    species: "Scuffle",
    evolution: None,
    height: 7,
    weight: 210,
    training: (
        base_exp: 42,
        growth: Medium,
    ),
    breeding: (
        gender: Some(0),
    ),
)