(
    id: 48,
    name: "Venonat",
    types: (
        primary: Bug,
        secondary: Some(Poison),
    ),
    moves: [
        (1, "tackle"),
        (9, "supersonic"),
        (1, "disable"),
        (33, "psybeam"),
        (20, "poison-powder"),
        (28, "stun-spore"),
        (36, "sleep-powder"),
        (17, "confusion"),
        (41, "psychic"),
        (25, "leech-life"),
        (1, "foresight"),
    ],
    base: {
        Health: 60,
        Attack: 55,
        Defense: 50,
        SpAttack: 40,
        SpDefense: 55,
        Speed: 45,
    },
    species: "Insect",
    evolution: None,
    height: 10,
    weight: 300,
    training: (
        base_exp: 61,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)