(
    id: 71,
    name: "Victreebel",
    types: (
        primary: Grass,
        secondary: Some(Poison),
    ),
    moves: [
        (1, "vine-whip"),
        (1, "razor-leaf"),
        (1, "sleep-powder"),
        (1, "sweet-scent"),
        (1, "stockpile"),
        (1, "spit-up"),
        (1, "swallow"),
    ],
    base: {
        Health: 80,
        Attack: 105,
        Defense: 65,
        SpAttack: 100,
        SpDefense: 70,
        Speed: 70,
    },
    species: "Flycatcher",
    evolution: None,
    height: 17,
    weight: 155,
    training: (
        base_exp: 221,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
)