(
    id: 365,
    name: "Walrein",
    types: (
        primary: Ice,
        secondary: Some(Water),
    ),
    moves: [
        (19, "body-slam"),
        (1, "growl"),
        (1, "water-gun"),
        (50, "blizzard"),
        (25, "aurora-beam"),
        (1, "defense-curl"),
        (39, "rest"),
        (39, "snore"),
        (1, "powder-snow"),
        (7, "encore"),
        (31, "hail"),
        (13, "ice-ball"),
        (61, "sheer-cold"),
    ],
    base: {
        Health: 110,
        Attack: 80,
        Defense: 90,
        SpAttack: 95,
        SpDefense: 90,
        Speed: 65,
    },
    species: "Ice",
    evolution: None,
    height: 14,
    weight: 1506,
    training: (
        base_exp: 265,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
)