(
    id: 8,
    name: "Wartortle",
    types: (
        primary: Water,
        secondary: None,
    ),
    moves: [
        (1, "tackle"),
        (1, "tail-whip"),
        (4, "tail-whip"),
        (19, "bite"),
        (13, "water-gun"),
        (53, "hydro-pump"),
        (10, "withdraw"),
        (45, "skull-bash"),
        (1, "bubble"),
        (7, "bubble"),
        (31, "protect"),
        (25, "rapid-spin"),
        (37, "rain-dance"),
    ],
    base: {
        Health: 59,
        Attack: 63,
        Defense: 80,
        SpAttack: 65,
        SpDefense: 80,
        Speed: 58,
    },
    species: "Turtle",
    evolution: None,
    height: 10,
    weight: 225,
    training: (
        base_exp: 142,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(1),
    ),
)