(
    id: 278,
    name: "Wingull",
    types: (
        primary: Water,
        secondary: Some(Flying),
    ),
    moves: [
        (13, "wing-attack"),
        (1, "growl"),
        (7, "supersonic"),
        (21, "mist"),
        (1, "water-gun"),
        (55, "agility"),
        (31, "quick-attack"),
        (43, "pursuit"),
    ],
    base: {
        Health: 40,
        Attack: 30,
        Defense: 30,
        SpAttack: 55,
        SpDefense: 30,
        Speed: 85,
    },
    species: "Seagull",
    evolution: None,
    height: 6,
    weight: 95,
    training: (
        base_exp: 54,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)