(
    id: 202,
    name: "Wobbuffet",
    types: (
        primary: Psychic,
        secondary: None,
    ),
    moves: [
        (1, "counter"),
        (1, "destiny-bond"),
        (1, "safeguard"),
        (1, "mirror-coat"),
    ],
    base: {
        Health: 190,
        Attack: 33,
        Defense: 58,
        SpAttack: 33,
        SpDefense: 58,
        Speed: 33,
    },
    species: "Patient",
    evolution: None,
    height: 13,
    weight: 285,
    training: (
        base_exp: 142,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)