(
    id: 265,
    name: "Wurmple",
    types: (
        primary: Bug,
        secondary: None,
    ),
    moves: [
        (1, "tackle"),
        (5, "poison-sting"),
        (1, "string-shot"),
    ],
    base: {
        Health: 45,
        Attack: 45,
        Defense: 35,
        SpAttack: 20,
        SpDefense: 30,
        Speed: 20,
    },
    species: "Worm",
    evolution: None,
    height: 3,
    weight: 36,
    training: (
        base_exp: 56,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)