(
    id: 178,
    name: "Xatu",
    types: (
        primary: Psychic,
        secondary: Some(Flying),
    ),
    moves: [
        (1, "leer"),
        (1, "peck"),
        (65, "psychic"),
        (20, "teleport"),
        (10, "night-shade"),
        (50, "confuse-ray"),
        (35, "future-sight"),
        (35, "wish"),
    ],
    base: {
        Health: 65,
        Attack: 75,
        Defense: 70,
        SpAttack: 95,
        SpDefense: 70,
        Speed: 95,
    },
    species: "Mystic",
    evolution: None,
    height: 15,
    weight: 150,
    training: (
        base_exp: 165,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)