(
    id: "acid",
    name: "Acid",
    category: Special,
    type: Poison,
    accuracy: Some(100),
    power: Some(40),
    pp: 30,
    priority: 0,
    target: AllOpponents,
    contact: false,
    crit_rate: 0,
    //world: false,
)