(
    id: "agility",
    name: "Agility",
    category: Status,
    type: Psychic,
    accuracy: None,
    power: None,
    pp: 30,
    priority: 0,
    target: User,
    contact: false,
    crit_rate: 0,
    //world: false,
)