(
    id: "ally-switch",
    name: "Ally Switch",
    category: Status,
    type: Psychic,
    accuracy: None,
    power: None,
    pp: 15,
    priority: 2,
    target: User,
    contact: false,
    crit_rate: 0,
    //world: false,
)