(
    id: "blue-flare",
    name: "Blue Flare",
    category: Special,
    type: Fire,
    accuracy: Some(85),
    power: Some(130),
    pp: 5,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    //world: false,
)