(
    id: "brine",
    name: "Brine",
    category: Special,
    type: Water,
    accuracy: Some(100),
    power: Some(65),
    pp: 10,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    //world: false,
)