(
    id: "crabhammer",
    name: "Crabhammer",
    category: Physical,
    type: Water,
    accuracy: Some(90),
    power: Some(100),
    pp: 10,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 1,
    //world: false,
)