(
    id: "electroweb",
    name: "Electroweb",
    category: Special,
    type: Electric,
    accuracy: Some(95),
    power: Some(55),
    pp: 15,
    priority: 0,
    target: AllOpponents,
    contact: false,
    crit_rate: 0,
    //world: false,
)