(
    id: "fury-cutter",
    name: "Fury Cutter",
    category: Physical,
    type: Bug,
    accuracy: Some(95),
    power: Some(40),
    pp: 20,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    //world: false,
)