(
    id: "horn-leech",
    name: "Horn Leech",
    category: Physical,
    type: Grass,
    accuracy: Some(100),
    power: Some(75),
    pp: 10,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    //world: false,
)