(
    id: "me-first",
    name: "Me First",
    category: Status,
    type: Normal,
    accuracy: None,
    power: None,
    pp: 20,
    priority: 0,
    target: None,
    contact: false,
    crit_rate: 0,
    //world: false,
)