(
    id: "present",
    name: "Present",
    category: Physical,
    type: Normal,
    accuracy: Some(90),
    power: None,
    pp: 15,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    //world: false,
)