(
    id: "quick-attack",
    name: "Quick Attack",
    category: Physical,
    type: Normal,
    accuracy: Some(100),
    power: Some(40),
    pp: 30,
    priority: 1,
    target: Any,
    contact: false,
    crit_rate: 0,
    //world: false,
)