(
    id: "rock-smash",
    name: "Rock Smash",
    category: Physical,
    type: Fighting,
    accuracy: Some(100),
    power: Some(40),
    pp: 15,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    //world: true,
)