(
    id: "roost",
    name: "Roost",
    category: Status,
    type: Flying,
    accuracy: None,
    power: None,
    pp: 10,
    priority: 0,
    target: User,
    contact: false,
    crit_rate: 0,
    //world: false,
)