(
    id: "sandstorm",
    name: "Sandstorm",
    category: Status,
    type: Rock,
    accuracy: None,
    power: None,
    pp: 10,
    priority: 0,
    target: None,
    contact: false,
    crit_rate: 0,
    //world: false,
)