(
    id: "swift",
    name: "Swift",
    category: Special,
    type: Normal,
    accuracy: None,
    power: Some(60),
    pp: 20,
    priority: 0,
    target: AllOpponents,
    contact: false,
    crit_rate: 0,
    //world: false,
)