(
    id: "vacuum-wave",
    name: "Vacuum Wave",
    category: Special,
    type: Fighting,
    accuracy: Some(100),
    power: Some(40),
    pp: 30,
    priority: 1,
    target: Any,
    contact: false,
    crit_rate: 0,
    //world: false,
)