(
    id: 63,
    name: "Abra",
    types: (
        primary: Psychic,
        secondary: None,
    ),
    moves: [
        (1, "teleport"),
    ],
    base: {
        Health: 25,
        Attack: 20,
        Defense: 15,
        SpAttack: 105,
        SpDefense: 55,
        Speed: 90,
    },
    species: "Psi",
    evolution: None,
    height: 9,
    weight: 195,
    training: (
        base_exp: 62,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(2),
    ),
)