(
    id: 142,
    name: "Aerodactyl",
    types: (
        primary: Rock,
        secondary: Some(Flying),
    ),
    moves: [
        (1, "wing-attack"),
        (43, "take-down"),
        (15, "bite"),
        (22, "supersonic"),
        (50, "hyper-beam"),
        (8, "agility"),
        (36, "scary-face"),
        (29, "ancient-power"),
    ],
    base: (
        hp: 80,
        atk: 105,
        def: 65,
        sp_atk: 60,
        sp_def: 75,
        speed: 130,
    ),
    species: "Fossil",
    evolution: None,
    height: 18,
    weight: 590,
    training: (
        base_exp: 180,
        growth: Slow,
    ),
    breeding: (
        gender: Some(1),
    ),
)