(
    id: 334,
    name: "Altaria",
    primary_type: Dragon,
    secondary_type: Some(Flying),
    moves: [
        (18, "fury-attack"),
        (31, "take-down"),
        (1, "growl"),
        (1, "sing"),
        (11, "sing"),
        (28, "mist"),
        (1, "peck"),
        (59, "sky-attack"),
        (54, "perish-song"),
        (21, "safeguard"),
        (35, "dragon-breath"),
        (45, "refresh"),
        (1, "astonish"),
        (8, "astonish"),
        (40, "dragon-dance"),
    ],
    base: (
        hp: 75,
        atk: 70,
        def: 90,
        sp_atk: 70,
        sp_def: 105,
        speed: 80,
    ),
    species: "Humming",
    evolution: None,
    height: 11,
    weight: 206,
    training: (
        base_exp: 172,
        growth: SlowThenVeryFast,
    ),
    breeding: (
        gender: Some(4),
    ),
)