(
    id: 24,
    name: "Arbok",
    primary_type: Poison,
    secondary_type: None,
    moves: [
        (1, "wrap"),
        (1, "poison-sting"),
        (8, "poison-sting"),
        (1, "leer"),
        (1, "bite"),
        (13, "bite"),
        (38, "acid"),
        (28, "screech"),
        (56, "haze"),
        (20, "glare"),
        (46, "stockpile"),
        (46, "spit-up"),
        (46, "swallow"),
    ],
    base: (
        hp: 60,
        atk: 95,
        def: 69,
        sp_atk: 65,
        sp_def: 79,
        speed: 80,
    ),
    species: "Cobra",
    evolution: None,
    height: 35,
    weight: 650,
    training: (
        base_exp: 157,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)