(
    id: 24,
    name: "Arbok",
    types: (
        primary: Poison,
        secondary: None,
    ),
    moves: [
        (1, "wrap"),
        (1, "poison-sting"),
        (8, "poison-sting"),
        (1, "leer"),
        (1, "bite"),
        (13, "bite"),
        (38, "acid"),
        (28, "screech"),
        (56, "haze"),
        (20, "glare"),
        (46, "stockpile"),
        (46, "spit-up"),
        (46, "swallow"),
    ],
    base: {
        Health: 60,
        Attack: 95,
        Defense: 69,
        SpAttack: 65,
        SpDefense: 79,
        Speed: 80,
    },
    species: "Cobra",
    evolution: None,
    height: 35,
    weight: 650,
    training: (
        base_exp: 157,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)