(
    id: 59,
    name: "Arcanine",
    types: (
        primary: Fire,
        secondary: None,
    ),
    moves: [
        (1, "bite"),
        (1, "roar"),
        (1, "ember"),
        (49, "extreme-speed"),
        (1, "odor-sleuth"),
    ],
    base: {
        Health: 90,
        Attack: 110,
        Defense: 80,
        SpAttack: 100,
        SpDefense: 80,
        Speed: 95,
    },
    species: "Legendary",
    evolution: None,
    height: 19,
    weight: 1550,
    training: (
        base_exp: 194,
        growth: Slow,
    ),
    breeding: (
        gender: Some(2),
    ),
)