(
    id: 298,
    name: "Azurill",
    primary_type: Normal,
    secondary_type: Some(Fairy),
    moves: [
        (15, "slam"),
        (6, "tail-whip"),
        (21, "water-gun"),
        (10, "bubble"),
        (1, "splash"),
        (3, "charm"),
    ],
    base: (
        hp: 50,
        atk: 20,
        def: 40,
        sp_atk: 20,
        sp_def: 40,
        speed: 20,
    ),
    species: "Polka",
    evolution: None,
    height: 2,
    weight: 20,
    training: (
        base_exp: 38,
        growth: Fast,
    ),
    breeding: (
        gender: Some(6),
    ),
)