(
    id: 286,
    name: "Breloom",
    types: (
        primary: Grass,
        secondary: Some(Fighting),
    ),
    moves: [
        (22, "headbutt"),
        (1, "tackle"),
        (4, "tackle"),
        (28, "counter"),
        (1, "absorb"),
        (16, "mega-drain"),
        (1, "leech-seed"),
        (10, "leech-seed"),
        (1, "stun-spore"),
        (7, "stun-spore"),
        (45, "mind-reader"),
        (23, "mach-punch"),
        (54, "dynamic-punch"),
        (36, "sky-uppercut"),
    ],
    base: (
        hp: 60,
        atk: 130,
        def: 80,
        sp_atk: 60,
        sp_def: 60,
        speed: 70,
    ),
    species: "Mushroom",
    evolution: None,
    height: 12,
    weight: 392,
    training: (
        base_exp: 161,
        growth: FastThenVerySlow,
    ),
    breeding: (
        gender: Some(4),
    ),
)