(
    id: 331,
    name: "Cacnea",
    types: (
        primary: Grass,
        secondary: None,
    ),
    moves: [
        (17, "sand-attack"),
        (1, "poison-sting"),
        (21, "pin-missile"),
        (1, "leer"),
        (5, "absorb"),
        (13, "leech-seed"),
        (9, "growth"),
        (41, "cotton-spore"),
        (29, "feint-attack"),
        (33, "spikes"),
        (49, "destiny-bond"),
        (45, "sandstorm"),
        (25, "ingrain"),
        (37, "needle-arm"),
    ],
    base: (
        hp: 50,
        atk: 85,
        def: 40,
        sp_atk: 85,
        sp_def: 40,
        speed: 35,
    ),
    species: "Cactus",
    evolution: None,
    height: 4,
    weight: 513,
    training: (
        base_exp: 67,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
)