(
    id: 332,
    name: "Cacturne",
    primary_type: Grass,
    secondary_type: Some(Dark),
    moves: [
        (17, "sand-attack"),
        (1, "poison-sting"),
        (21, "pin-missile"),
        (1, "leer"),
        (1, "absorb"),
        (5, "absorb"),
        (13, "leech-seed"),
        (1, "growth"),
        (9, "growth"),
        (47, "cotton-spore"),
        (29, "feint-attack"),
        (35, "spikes"),
        (59, "destiny-bond"),
        (53, "sandstorm"),
        (25, "ingrain"),
        (1, "revenge"),
        (41, "needle-arm"),
    ],
    base: (
        hp: 70,
        atk: 115,
        def: 60,
        sp_atk: 115,
        sp_def: 60,
        speed: 55,
    ),
    species: "Scarecrow",
    height: 13,
    weight: 774,
    training: (
        base_exp: 166,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
)