(
    id: 351,
    name: "Castform",
    types: (
        primary: Normal,
        secondary: None,
    ),
    moves: [
        (1, "tackle"),
        (10, "ember"),
        (10, "water-gun"),
        (10, "powder-snow"),
        (20, "rain-dance"),
        (20, "sunny-day"),
        (20, "hail"),
        (30, "weather-ball"),
    ],
    base: {
        Health: 70,
        Attack: 70,
        Defense: 70,
        SpAttack: 70,
        SpDefense: 70,
        Speed: 70,
    },
    species: "Weather",
    evolution: None,
    height: 3,
    weight: 8,
    training: (
        base_exp: 147,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)