(
    id: 251,
    name: "Celebi",
    primary_type: Psychic,
    secondary_type: Some(Grass),
    moves: [
        (1, "leech-seed"),
        (1, "confusion"),
        (1, "recover"),
        (50, "perish-song"),
        (1, "heal-bell"),
        (10, "safeguard"),
        (40, "baton-pass"),
        (20, "ancient-power"),
        (30, "future-sight"),
    ],
    base: (
        hp: 100,
        atk: 100,
        def: 100,
        sp_atk: 100,
        sp_def: 100,
        speed: 100,
    ),
    species: "Time",
    height: 6,
    weight: 50,
    training: (
        base_exp: 270,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: None,
    ),
)