(
    id: 170,
    name: "Chinchou",
    types: (
        primary: Water,
        secondary: Some(Electric),
    ),
    moves: [
        (37, "take-down"),
        (5, "supersonic"),
        (17, "water-gun"),
        (41, "hydro-pump"),
        (1, "thunder-wave"),
        (29, "confuse-ray"),
        (1, "bubble"),
        (13, "flail"),
        (25, "spark"),
        (49, "charge"),
    ],
    base: {
        Health: 75,
        Attack: 38,
        Defense: 38,
        SpAttack: 56,
        SpDefense: 56,
        Speed: 67,
    },
    species: "Angler",
    evolution: None,
    height: 5,
    weight: 120,
    training: (
        base_exp: 66,
        growth: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
)