(
    id: 366,
    name: "Clamperl",
    types: (
        primary: Water,
        secondary: None,
    ),
    moves: [
        (1, "water-gun"),
        (1, "clamp"),
        (1, "whirlpool"),
        (1, "iron-defense"),
    ],
    base: {
        Health: 35,
        Attack: 64,
        Defense: 85,
        SpAttack: 74,
        SpDefense: 55,
        Speed: 32,
    },
    species: "Bivalve",
    evolution: None,
    height: 4,
    weight: 525,
    training: (
        base_exp: 69,
        growth: SlowThenVeryFast,
    ),
    breeding: (
        gender: Some(4),
    ),
)