(
    id: 173,
    name: "Cleffa",
    types: (
        primary: Fairy,
        secondary: None,
    ),
    moves: [
        (1, "pound"),
        (8, "sing"),
        (13, "sweet-kiss"),
        (1, "charm"),
        (4, "encore"),
        (17, "magical-leaf"),
    ],
    base: {
        Health: 50,
        Attack: 25,
        Defense: 28,
        SpAttack: 45,
        SpDefense: 55,
        Speed: 15,
    },
    species: "Star",
    evolution: None,
    height: 3,
    weight: 30,
    training: (
        base_exp: 44,
        growth: Fast,
    ),
    breeding: (
        gender: Some(6),
    ),
)