(
    id: 256,
    name: "Combusken",
    types: (
        primary: Fire,
        secondary: Some(Fighting),
    ),
    moves: [
        (1, "scratch"),
        (16, "double-kick"),
        (21, "sand-attack"),
        (1, "growl"),
        (1, "ember"),
        (13, "ember"),
        (17, "peck"),
        (32, "quick-attack"),
        (1, "focus-energy"),
        (7, "focus-energy"),
        (43, "mirror-move"),
        (39, "slash"),
        (50, "sky-uppercut"),
        (28, "bulk-up"),
    ],
    base: (
        hp: 60,
        atk: 85,
        def: 60,
        sp_atk: 85,
        sp_def: 60,
        speed: 55,
    ),
    species: "Young",
    evolution: None,
    height: 9,
    weight: 195,
    training: (
        base_exp: 142,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(1),
    ),
)