(
    id: 346,
    name: "Cradily",
    primary_type: Rock,
    secondary_type: Some(Grass),
    moves: [
        (1, "acid"),
        (15, "acid"),
        (29, "confuse-ray"),
        (1, "constrict"),
        (8, "constrict"),
        (36, "amnesia"),
        (48, "ancient-power"),
        (60, "stockpile"),
        (60, "spit-up"),
        (60, "swallow"),
        (1, "ingrain"),
        (22, "ingrain"),
        (1, "astonish"),
    ],
    base: (
        hp: 86,
        atk: 81,
        def: 97,
        sp_atk: 81,
        sp_def: 107,
        speed: 43,
    ),
    species: "Barnacle",
    evolution: None,
    height: 15,
    weight: 604,
    training: (
        base_exp: 173,
        growth: SlowThenVeryFast,
    ),
    breeding: (
        gender: Some(1),
    ),
)