(
    id: 301,
    name: "Delcatty",
    primary_type: Normal,
    secondary_type: None,
    moves: [
        (1, "double-slap"),
        (1, "growl"),
        (1, "sing"),
        (1, "attract"),
    ],
    base: (
        hp: 70,
        atk: 65,
        def: 65,
        sp_atk: 55,
        sp_def: 55,
        speed: 90,
    ),
    species: "Prim",
    evolution: None,
    height: 11,
    weight: 326,
    training: (
        base_exp: 140,
        growth: Fast,
    ),
    breeding: (
        gender: Some(6),
    ),
)