(
    id: 51,
    name: "Dugtrio",
    primary_type: Ground,
    secondary_type: None,
    moves: [
        (1, "scratch"),
        (1, "sand-attack"),
        (1, "growl"),
        (5, "growl"),
        (51, "earthquake"),
        (64, "fissure"),
        (17, "dig"),
        (21, "fury-swipes"),
        (1, "tri-attack"),
        (38, "slash"),
        (25, "mud-slap"),
        (9, "magnitude"),
        (26, "sand-tomb"),
    ],
    base: (
        hp: 35,
        atk: 100,
        def: 50,
        sp_atk: 50,
        sp_def: 70,
        speed: 120,
    ),
    species: "Mole",
    evolution: None,
    height: 7,
    weight: 333,
    training: (
        base_exp: 149,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)