(
    id: 356,
    name: "Dusclops",
    primary_type: Ghost,
    secondary_type: None,
    moves: [
        (1, "bind"),
        (1, "leer"),
        (1, "disable"),
        (5, "disable"),
        (1, "night-shade"),
        (23, "confuse-ray"),
        (34, "curse"),
        (12, "foresight"),
        (51, "mean-look"),
        (27, "pursuit"),
        (58, "future-sight"),
        (41, "will-o-wisp"),
        (16, "astonish"),
        (37, "shadow-punch"),
    ],
    base: (
        hp: 40,
        atk: 70,
        def: 130,
        sp_atk: 60,
        sp_def: 130,
        speed: 25,
    ),
    species: "Beckon",
    height: 16,
    weight: 306,
    training: (
        base_exp: 159,
        growth_rate: Fast,
    ),
    breeding: (
        gender: Some(4),
    ),
)