(
    id: 101,
    name: "Electrode",
    types: (
        primary: Electric,
        secondary: None,
    ),
    moves: [
        (1, "tackle"),
        (1, "sonic-boom"),
        (15, "sonic-boom"),
        (1, "screech"),
        (8, "screech"),
        (41, "light-screen"),
        (27, "self-destruct"),
        (48, "swift"),
        (54, "explosion"),
        (34, "rollout"),
        (21, "spark"),
        (59, "mirror-coat"),
        (1, "charge"),
    ],
    base: (
        hp: 60,
        atk: 50,
        def: 70,
        sp_atk: 80,
        sp_def: 80,
        speed: 150,
    ),
    species: "Ball",
    evolution: None,
    height: 12,
    weight: 666,
    training: (
        base_exp: 172,
        growth: Medium,
    ),
    breeding: (
        gender: None,
    ),
)