(
    id: 309,
    name: "Electrike",
    primary_type: Electric,
    secondary_type: None,
    moves: [
        (1, "tackle"),
        (9, "leer"),
        (33, "bite"),
        (28, "roar"),
        (4, "thunder-wave"),
        (36, "thunder"),
        (17, "quick-attack"),
        (20, "spark"),
        (41, "charge"),
        (25, "odor-sleuth"),
        (12, "howl"),
    ],
    base: (
        hp: 40,
        atk: 45,
        def: 40,
        sp_atk: 65,
        sp_def: 40,
        speed: 65,
    ),
    species: "Lightning",
    height: 6,
    weight: 152,
    training: (
        base_exp: 59,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
)