(
    id: 239,
    name: "Elekid",
    types: (
        primary: Electric,
        secondary: None,
    ),
    moves: [
        (9, "thunder-punch"),
        (1, "leer"),
        (41, "thunderbolt"),
        (49, "thunder"),
        (1, "quick-attack"),
        (33, "screech"),
        (17, "light-screen"),
        (25, "swift"),
    ],
    base: {
        Health: 45,
        Attack: 63,
        Defense: 37,
        SpAttack: 65,
        SpDefense: 55,
        Speed: 95,
    },
    species: "Electric",
    evolution: None,
    height: 6,
    weight: 235,
    training: (
        base_exp: 72,
        growth: Medium,
    ),
    breeding: (
        gender: Some(2),
    ),
)