(
    id: 244,
    name: "Entei",
    types: (
        primary: Fire,
        secondary: None,
    ),
    moves: [
        (41, "stomp"),
        (1, "leer"),
        (1, "bite"),
        (21, "roar"),
        (11, "ember"),
        (51, "flamethrower"),
        (31, "fire-spin"),
        (71, "fire-blast"),
        (61, "swagger"),
        (81, "calm-mind"),
    ],
    base: {
        Health: 115,
        Attack: 115,
        Defense: 85,
        SpAttack: 90,
        SpDefense: 75,
        Speed: 100,
    },
    species: "Volcano",
    evolution: None,
    height: 21,
    weight: 1980,
    training: (
        base_exp: 290,
        growth: Slow,
    ),
    breeding: (
        gender: None,
    ),
)