(
    id: 349,
    name: "Feebas",
    types: (
        primary: Water,
        secondary: None,
    ),
    moves: [
        (15, "tackle"),
        (1, "splash"),
        (30, "flail"),
    ],
    base: (
        hp: 20,
        atk: 15,
        def: 20,
        sp_atk: 10,
        sp_def: 55,
        speed: 80,
    ),
    species: "Fish",
    evolution: None,
    height: 6,
    weight: 74,
    training: (
        base_exp: 40,
        growth: SlowThenVeryFast,
    ),
    breeding: (
        gender: Some(4),
    ),
)