(
    id: 203,
    name: "Girafarig",
    types: (
        primary: Normal,
        secondary: Some(Psychic),
    ),
    moves: [
        (19, "stomp"),
        (1, "tackle"),
        (1, "growl"),
        (43, "psybeam"),
        (13, "confusion"),
        (31, "agility"),
        (37, "baton-pass"),
        (49, "crunch"),
        (7, "astonish"),
        (25, "odor-sleuth"),
    ],
    base: {
        Health: 70,
        Attack: 80,
        Defense: 65,
        SpAttack: 90,
        SpDefense: 65,
        Speed: 85,
    },
    species: "Long",
    evolution: None,
    height: 15,
    weight: 415,
    training: (
        base_exp: 159,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)