(
    id: 203,
    name: "Girafarig",
    primary_type: Normal,
    secondary_type: Some(Psychic),
    moves: [
        (19, "stomp"),
        (1, "tackle"),
        (1, "growl"),
        (43, "psybeam"),
        (13, "confusion"),
        (31, "agility"),
        (37, "baton-pass"),
        (49, "crunch"),
        (7, "astonish"),
        (25, "odor-sleuth"),
    ],
    base: (
        hp: 70,
        atk: 80,
        def: 65,
        sp_atk: 90,
        sp_def: 65,
        speed: 85,
    ),
    species: "Long",
    evolution: None,
    height: 15,
    weight: 415,
    training: (
        base_exp: 159,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)