(
    id: 362,
    name: "Glalie",
    primary_type: Ice,
    secondary_type: None,
    moves: [
        (19, "headbutt"),
        (1, "leer"),
        (1, "bite"),
        (10, "bite"),
        (34, "ice-beam"),
        (53, "blizzard"),
        (1, "double-team"),
        (7, "double-team"),
        (1, "powder-snow"),
        (25, "protect"),
        (16, "icy-wind"),
        (28, "crunch"),
        (42, "hail"),
        (61, "sheer-cold"),
    ],
    base: (
        hp: 80,
        atk: 80,
        def: 80,
        sp_atk: 80,
        sp_def: 80,
        speed: 80,
    ),
    species: "Face",
    height: 15,
    weight: 2565,
    training: (
        base_exp: 168,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)