(
    id: 207,
    name: "Gligar",
    types: (
        primary: Ground,
        secondary: Some(Flying),
    ),
    moves: [
        (52, "guillotine"),
        (6, "sand-attack"),
        (1, "poison-sting"),
        (20, "quick-attack"),
        (44, "screech"),
        (13, "harden"),
        (36, "slash"),
        (28, "feint-attack"),
    ],
    base: {
        Health: 65,
        Attack: 75,
        Defense: 105,
        SpAttack: 35,
        SpDefense: 65,
        Speed: 85,
    },
    species: "Fly",
    evolution: None,
    height: 11,
    weight: 648,
    training: (
        base_exp: 86,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
)