(
    id: 55,
    name: "Golduck",
    types: (
        primary: Water,
        secondary: None,
    ),
    moves: [
        (1, "scratch"),
        (1, "tail-whip"),
        (5, "tail-whip"),
        (1, "disable"),
        (10, "disable"),
        (58, "hydro-pump"),
        (16, "confusion"),
        (23, "screech"),
        (44, "fury-swipes"),
        (31, "psych-up"),
        (1, "water-sport"),
    ],
    base: {
        Health: 80,
        Attack: 82,
        Defense: 78,
        SpAttack: 95,
        SpDefense: 80,
        Speed: 85,
    },
    species: "Duck",
    evolution: None,
    height: 17,
    weight: 766,
    training: (
        base_exp: 175,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)