(
    id: 118,
    name: "Goldeen",
    types: (
        primary: Water,
        secondary: None,
    ),
    moves: [
        (15, "horn-attack"),
        (29, "fury-attack"),
        (43, "horn-drill"),
        (1, "tail-whip"),
        (10, "supersonic"),
        (1, "peck"),
        (52, "agility"),
        (38, "waterfall"),
        (24, "flail"),
        (57, "megahorn"),
        (1, "water-sport"),
    ],
    base: {
        Health: 45,
        Attack: 67,
        Defense: 60,
        SpAttack: 35,
        SpDefense: 50,
        Speed: 63,
    },
    species: "Goldfish",
    evolution: None,
    height: 6,
    weight: 150,
    training: (
        base_exp: 64,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)