(
    id: 383,
    name: "Groudon",
    types: (
        primary: Ground,
        secondary: None,
    ),
    moves: [
        (65, "solar-beam"),
        (35, "earthquake"),
        (60, "fissure"),
        (45, "fire-blast"),
        (50, "rest"),
        (20, "slash"),
        (5, "scary-face"),
        (15, "ancient-power"),
        (75, "eruption"),
        (30, "bulk-up"),
        (1, "mud-shot"),
    ],
    base: {
        Health: 100,
        Attack: 150,
        Defense: 140,
        SpAttack: 100,
        SpDefense: 90,
        Speed: 90,
    },
    species: "Continent",
    evolution: None,
    height: 35,
    weight: 9500,
    training: (
        base_exp: 335,
        growth: Slow,
    ),
    breeding: (
        gender: None,
    ),
)