(
    id: 253,
    name: "Grovyle",
    primary_type: Grass,
    secondary_type: None,
    moves: [
        (1, "pound"),
        (41, "slam"),
        (1, "leer"),
        (1, "absorb"),
        (6, "absorb"),
        (35, "agility"),
        (1, "quick-attack"),
        (11, "quick-attack"),
        (23, "screech"),
        (47, "detect"),
        (53, "false-swipe"),
        (16, "fury-cutter"),
        (17, "pursuit"),
        (29, "leaf-blade"),
    ],
    base: (
        hp: 50,
        atk: 65,
        def: 45,
        sp_atk: 85,
        sp_def: 65,
        speed: 95,
    ),
    species: "Wood",
    height: 9,
    weight: 216,
    training: (
        base_exp: 142,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(1),
    ),
)