(
    id: 326,
    name: "Grumpig",
    primary_type: Psychic,
    secondary_type: None,
    moves: [
        (1, "psybeam"),
        (16, "psybeam"),
        (37, "psychic"),
        (25, "confuse-ray"),
        (1, "psywave"),
        (7, "psywave"),
        (1, "splash"),
        (43, "rest"),
        (43, "snore"),
        (19, "psych-up"),
        (28, "magic-coat"),
        (1, "odor-sleuth"),
        (10, "odor-sleuth"),
        (55, "bounce"),
    ],
    base: (
        hp: 80,
        atk: 45,
        def: 65,
        sp_atk: 90,
        sp_def: 110,
        speed: 80,
    ),
    species: "Manipulate",
    evolution: None,
    height: 9,
    weight: 715,
    training: (
        base_exp: 165,
        growth: Fast,
    ),
    breeding: (
        gender: Some(4),
    ),
)