(
    id: 130,
    name: "Gyarados",
    types: (
        primary: Water,
        secondary: Some(Flying),
    ),
    moves: [
        (1, "thrash"),
        (30, "leer"),
        (20, "bite"),
        (40, "hydro-pump"),
        (55, "hyper-beam"),
        (25, "dragon-rage"),
        (35, "twister"),
        (45, "rain-dance"),
        (50, "dragon-dance"),
    ],
    base: {
        Health: 95,
        Attack: 125,
        Defense: 79,
        SpAttack: 60,
        SpDefense: 100,
        Speed: 81,
    },
    species: "Atrocious",
    evolution: None,
    height: 65,
    weight: 2350,
    training: (
        base_exp: 189,
        growth: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
)