(
    id: 297,
    name: "Hariyama",
    primary_type: Fighting,
    secondary_type: None,
    moves: [
        (22, "whirlwind"),
        (1, "sand-attack"),
        (4, "sand-attack"),
        (1, "tackle"),
        (51, "seismic-toss"),
        (1, "focus-energy"),
        (55, "reversal"),
        (40, "belly-drum"),
        (44, "endure"),
        (13, "vital-throw"),
        (19, "fake-out"),
        (33, "smelling-salts"),
        (29, "knock-off"),
        (1, "arm-thrust"),
        (10, "arm-thrust"),
    ],
    base: (
        hp: 144,
        atk: 120,
        def: 60,
        sp_atk: 40,
        sp_def: 60,
        speed: 50,
    ),
    species: "Arm",
    evolution: None,
    height: 23,
    weight: 2538,
    training: (
        base_exp: 166,
        growth: FastThenVerySlow,
    ),
    breeding: (
        gender: Some(2),
    ),
)