(
    id: 106,
    name: "Hitmonlee",
    types: (
        primary: Fighting,
        secondary: None,
    ),
    moves: [
        (1, "double-kick"),
        (46, "mega-kick"),
        (16, "jump-kick"),
        (11, "rolling-kick"),
        (6, "meditate"),
        (21, "focus-energy"),
        (26, "high-jump-kick"),
        (31, "mind-reader"),
        (51, "reversal"),
        (36, "foresight"),
        (41, "endure"),
        (1, "revenge"),
        (20, "brick-break"),
    ],
    base: {
        Health: 50,
        Attack: 120,
        Defense: 53,
        SpAttack: 35,
        SpDefense: 110,
        Speed: 87,
    },
    species: "Kicking",
    evolution: None,
    height: 15,
    weight: 498,
    training: (
        base_exp: 159,
        growth: Medium,
    ),
    breeding: (
        gender: Some(0),
    ),
)