(
    id: 237,
    name: "Hitmontop",
    types: (
        primary: Fighting,
        secondary: None,
    ),
    moves: [
        (1, "rolling-kick"),
        (31, "counter"),
        (37, "agility"),
        (19, "quick-attack"),
        (7, "focus-energy"),
        (20, "triple-kick"),
        (43, "detect"),
        (13, "pursuit"),
        (25, "rapid-spin"),
        (1, "revenge"),
        (49, "endeavor"),
    ],
    base: {
        Health: 50,
        Attack: 95,
        Defense: 95,
        SpAttack: 35,
        SpDefense: 110,
        Speed: 70,
    },
    species: "Handstand",
    evolution: None,
    height: 14,
    weight: 480,
    training: (
        base_exp: 159,
        growth: Medium,
    ),
    breeding: (
        gender: Some(0),
    ),
)