(
    id: 250,
    name: "Ho-oh",
    types: (
        primary: Fire,
        secondary: Some(Flying),
    ),
    moves: [
        (22, "gust"),
        (1, "whirlwind"),
        (33, "recover"),
        (44, "fire-blast"),
        (66, "swift"),
        (11, "safeguard"),
        (77, "sacred-fire"),
        (55, "sunny-day"),
        (88, "ancient-power"),
        (99, "future-sight"),
    ],
    base: {
        Health: 106,
        Attack: 130,
        Defense: 90,
        SpAttack: 110,
        SpDefense: 154,
        Speed: 90,
    },
    species: "Rainbow",
    evolution: None,
    height: 38,
    weight: 1990,
    training: (
        base_exp: 340,
        growth: Slow,
    ),
    breeding: (
        gender: None,
    ),
)