(
    id: 187,
    name: "Hoppip",
    primary_type: Grass,
    secondary_type: Some(Flying),
    moves: [
        (10, "tackle"),
        (5, "tail-whip"),
        (30, "mega-drain"),
        (20, "leech-seed"),
        (13, "poison-powder"),
        (15, "stun-spore"),
        (17, "sleep-powder"),
        (1, "splash"),
        (25, "cotton-spore"),
        (5, "synthesis"),
    ],
    base: (
        hp: 35,
        atk: 35,
        def: 40,
        sp_atk: 35,
        sp_def: 55,
        speed: 50,
    ),
    species: "Cottonweed",
    height: 4,
    weight: 5,
    training: (
        base_exp: 50,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
)