(
    id: 367,
    name: "Huntail",
    types: (
        primary: Water,
        secondary: None,
    ),
    moves: [
        (8, "bite"),
        (50, "hydro-pump"),
        (15, "screech"),
        (29, "scary-face"),
        (43, "baton-pass"),
        (36, "crunch"),
        (1, "whirlpool"),
        (22, "water-pulse"),
    ],
    base: {
        Health: 55,
        Attack: 104,
        Defense: 105,
        SpAttack: 94,
        SpDefense: 75,
        Speed: 52,
    },
    species: "Deep",
    evolution: None,
    height: 17,
    weight: 270,
    training: (
        base_exp: 170,
        growth: SlowThenVeryFast,
    ),
    breeding: (
        gender: Some(4),
    ),
)