(
    id: 174,
    name: "Igglybuff",
    types: (
        primary: Normal,
        secondary: Some(Fairy),
    ),
    moves: [
        (9, "pound"),
        (1, "sing"),
        (4, "defense-curl"),
        (14, "sweet-kiss"),
        (1, "charm"),
    ],
    base: {
        Health: 90,
        Attack: 30,
        Defense: 15,
        SpAttack: 40,
        SpDefense: 20,
        Speed: 15,
    },
    species: "Balloon",
    evolution: None,
    height: 3,
    weight: 10,
    training: (
        base_exp: 42,
        growth: Fast,
    ),
    breeding: (
        gender: Some(6),
    ),
)