(
    id: 385,
    name: "Jirachi",
    primary_type: Steel,
    secondary_type: Some(Psychic),
    moves: [
        (35, "double-edge"),
        (1, "confusion"),
        (20, "psychic"),
        (10, "swift"),
        (5, "rest"),
        (30, "rest"),
        (40, "future-sight"),
        (15, "helping-hand"),
        (1, "wish"),
        (25, "refresh"),
        (45, "cosmic-power"),
        (50, "doom-desire"),
    ],
    base: (
        hp: 100,
        atk: 100,
        def: 100,
        sp_atk: 100,
        sp_def: 100,
        speed: 100,
    ),
    species: "Wish",
    height: 3,
    weight: 11,
    training: (
        base_exp: 270,
        growth_rate: Slow,
    ),
    breeding: (
        gender: None,
    ),
)