(
    id: 135,
    name: "Jolteon",
    types: (
        primary: Electric,
        secondary: None,
    ),
    moves: [
        (30, "double-kick"),
        (8, "sand-attack"),
        (1, "tackle"),
        (1, "tail-whip"),
        (36, "pin-missile"),
        (16, "thunder-shock"),
        (42, "thunder-wave"),
        (52, "thunder"),
        (47, "agility"),
        (23, "quick-attack"),
        (1, "helping-hand"),
    ],
    base: {
        Health: 65,
        Attack: 65,
        Defense: 60,
        SpAttack: 110,
        SpDefense: 95,
        Speed: 130,
    },
    species: "Lightning",
    evolution: None,
    height: 8,
    weight: 245,
    training: (
        base_exp: 184,
        growth: Medium,
    ),
    breeding: (
        gender: Some(1),
    ),
)