(
    id: 64,
    name: "Kadabra",
    types: (
        primary: Psychic,
        secondary: None,
    ),
    moves: [
        (18, "disable"),
        (21, "psybeam"),
        (1, "confusion"),
        (16, "confusion"),
        (36, "psychic"),
        (1, "teleport"),
        (25, "recover"),
        (23, "reflect"),
        (1, "kinesis"),
        (30, "future-sight"),
        (43, "trick"),
        (33, "role-play"),
    ],
    base: (
        hp: 40,
        atk: 35,
        def: 30,
        sp_atk: 120,
        sp_def: 70,
        speed: 105,
    ),
    species: "Psi",
    evolution: None,
    height: 13,
    weight: 565,
    training: (
        base_exp: 140,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(2),
    ),
)