(
    id: 115,
    name: "Kangaskhan",
    types: (
        primary: Normal,
        secondary: None,
    ),
    moves: [
        (1, "comet-punch"),
        (25, "mega-punch"),
        (13, "tail-whip"),
        (1, "leer"),
        (7, "bite"),
        (31, "rage"),
        (43, "dizzy-punch"),
        (49, "reversal"),
        (37, "endure"),
        (19, "fake-out"),
    ],
    base: {
        Health: 105,
        Attack: 95,
        Defense: 80,
        SpAttack: 40,
        SpDefense: 80,
        Speed: 90,
    },
    species: "Parent",
    evolution: None,
    height: 22,
    weight: 800,
    training: (
        base_exp: 172,
        growth: Medium,
    ),
    breeding: (
        gender: Some(8),
    ),
)