(
    id: 281,
    name: "Kirlia",
    primary_type: Psychic,
    secondary_type: Some(Fairy),
    moves: [
        (1, "growl"),
        (1, "confusion"),
        (6, "confusion"),
        (26, "psychic"),
        (47, "hypnosis"),
        (1, "teleport"),
        (16, "teleport"),
        (1, "double-team"),
        (11, "double-team"),
        (54, "dream-eater"),
        (40, "future-sight"),
        (33, "imprison"),
        (1, "magical-leaf"),
        (21, "calm-mind"),
    ],
    base: (
        hp: 38,
        atk: 35,
        def: 35,
        sp_atk: 65,
        sp_def: 55,
        speed: 50,
    ),
    species: "Emotion",
    height: 8,
    weight: 202,
    training: (
        base_exp: 97,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
)