(
    id: 382,
    name: "Kyogre",
    primary_type: Water,
    secondary_type: None,
    moves: [
        (20, "body-slam"),
        (65, "double-edge"),
        (45, "hydro-pump"),
        (35, "ice-beam"),
        (50, "rest"),
        (5, "scary-face"),
        (15, "ancient-power"),
        (75, "water-spout"),
        (60, "sheer-cold"),
        (30, "calm-mind"),
        (1, "water-pulse"),
    ],
    base: (
        hp: 100,
        atk: 100,
        def: 90,
        sp_atk: 150,
        sp_def: 140,
        speed: 90,
    ),
    species: "Sea",
    evolution: None,
    height: 45,
    weight: 3520,
    training: (
        base_exp: 302,
        growth: Slow,
    ),
    breeding: (
        gender: None,
    ),
)