(
    id: 270,
    name: "Lotad",
    types: (
        primary: Water,
        secondary: Some(Grass),
    ),
    moves: [
        (3, "growl"),
        (21, "mist"),
        (7, "absorb"),
        (43, "mega-drain"),
        (31, "rain-dance"),
        (13, "nature-power"),
        (1, "astonish"),
    ],
    base: {
        Health: 40,
        Attack: 30,
        Defense: 30,
        SpAttack: 40,
        SpDefense: 50,
        Speed: 30,
    },
    species: "Water",
    evolution: None,
    height: 5,
    weight: 26,
    training: (
        base_exp: 44,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
)