(
    id: 272,
    name: "Ludicolo",
    types: (
        primary: Water,
        secondary: Some(Grass),
    ),
    moves: [
        (1, "growl"),
        (1, "absorb"),
        (1, "nature-power"),
        (1, "astonish"),
    ],
    base: {
        Health: 80,
        Attack: 70,
        Defense: 70,
        SpAttack: 90,
        SpDefense: 100,
        Speed: 70,
    },
    species: "Carefree",
    evolution: None,
    height: 15,
    weight: 550,
    training: (
        base_exp: 240,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
)