(
    id: 66,
    name: "Machop",
    types: (
        primary: Fighting,
        secondary: None,
    ),
    moves: [
        (13, "karate-chop"),
        (1, "leer"),
        (37, "submission"),
        (1, "low-kick"),
        (19, "seismic-toss"),
        (7, "focus-energy"),
        (43, "scary-face"),
        (22, "foresight"),
        (49, "dynamic-punch"),
        (31, "vital-throw"),
        (40, "cross-chop"),
        (25, "revenge"),
    ],
    base: {
        Health: 70,
        Attack: 80,
        Defense: 50,
        SpAttack: 35,
        SpDefense: 35,
        Speed: 35,
    },
    species: "Superpower",
    evolution: None,
    height: 8,
    weight: 195,
    training: (
        base_exp: 61,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(2),
    ),
)