(
    id: 67,
    name: "Machoke",
    primary_type: Fighting,
    secondary_type: None,
    moves: [
        (13, "karate-chop"),
        (1, "leer"),
        (41, "submission"),
        (1, "low-kick"),
        (19, "seismic-toss"),
        (1, "focus-energy"),
        (7, "focus-energy"),
        (51, "scary-face"),
        (22, "foresight"),
        (59, "dynamic-punch"),
        (33, "vital-throw"),
        (46, "cross-chop"),
        (25, "revenge"),
    ],
    base: (
        hp: 80,
        atk: 100,
        def: 70,
        sp_atk: 50,
        sp_def: 60,
        speed: 45,
    ),
    species: "Superpower",
    evolution: None,
    height: 15,
    weight: 705,
    training: (
        base_exp: 142,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(2),
    ),
)