(
    id: 240,
    name: "Magby",
    types: (
        primary: Fire,
        secondary: None,
    ),
    moves: [
        (19, "fire-punch"),
        (7, "leer"),
        (1, "ember"),
        (37, "flamethrower"),
        (25, "smokescreen"),
        (43, "confuse-ray"),
        (13, "smog"),
        (49, "fire-blast"),
        (31, "sunny-day"),
    ],
    base: {
        Health: 45,
        Attack: 75,
        Defense: 37,
        SpAttack: 70,
        SpDefense: 55,
        Speed: 83,
    },
    species: "Live",
    evolution: None,
    height: 7,
    weight: 214,
    training: (
        base_exp: 73,
        growth: Medium,
    ),
    breeding: (
        gender: Some(2),
    ),
)