(
    id: 129,
    name: "Magikarp",
    primary_type: Water,
    secondary_type: None,
    moves: [
        (15, "tackle"),
        (1, "splash"),
        (30, "flail"),
    ],
    base: (
        hp: 20,
        atk: 10,
        def: 55,
        sp_atk: 15,
        sp_def: 20,
        speed: 80,
    ),
    species: "Fish",
    height: 9,
    weight: 100,
    training: (
        base_exp: 40,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
)