(
    id: 56,
    name: "Mankey",
    types: (
        primary: Fighting,
        secondary: None,
    ),
    moves: [
        (11, "karate-chop"),
        (1, "scratch"),
        (46, "thrash"),
        (1, "leer"),
        (6, "low-kick"),
        (26, "seismic-toss"),
        (41, "screech"),
        (21, "focus-energy"),
        (16, "fury-swipes"),
        (36, "swagger"),
        (31, "cross-chop"),
    ],
    base: {
        Health: 40,
        Attack: 80,
        Defense: 35,
        SpAttack: 35,
        SpDefense: 45,
        Speed: 70,
    },
    species: "Pig",
    evolution: None,
    height: 5,
    weight: 280,
    training: (
        base_exp: 61,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)