(
    id: 259,
    name: "Marshtomp",
    primary_type: Water,
    secondary_type: Some(Ground),
    moves: [
        (1, "tackle"),
        (31, "take-down"),
        (1, "growl"),
        (1, "water-gun"),
        (10, "water-gun"),
        (46, "earthquake"),
        (15, "bide"),
        (42, "protect"),
        (1, "mud-slap"),
        (6, "mud-slap"),
        (20, "foresight"),
        (53, "endeavor"),
        (25, "mud-sport"),
        (37, "muddy-water"),
        (16, "mud-shot"),
    ],
    base: (
        hp: 70,
        atk: 85,
        def: 70,
        sp_atk: 60,
        sp_def: 70,
        speed: 50,
    ),
    species: "Mud",
    evolution: None,
    height: 7,
    weight: 280,
    training: (
        base_exp: 142,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(1),
    ),
)