(
    id: 11,
    name: "Metapod",
    types: (
        primary: Bug,
        secondary: None,
    ),
    moves: [
        (1, "harden"),
        (7, "harden"),
    ],
    base: {
        Health: 50,
        Attack: 20,
        Defense: 55,
        SpAttack: 25,
        SpDefense: 25,
        Speed: 30,
    },
    species: "Cocoon",
    evolution: None,
    height: 7,
    weight: 99,
    training: (
        base_exp: 72,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)