(
    id: 376,
    name: "Metagross",
    primary_type: Steel,
    secondary_type: Some(Psychic),
    moves: [
        (1, "take-down"),
        (77, "hyper-beam"),
        (1, "confusion"),
        (20, "confusion"),
        (38, "psychic"),
        (66, "agility"),
        (1, "scary-face"),
        (26, "scary-face"),
        (32, "pursuit"),
        (1, "metal-claw"),
        (20, "metal-claw"),
        (55, "meteor-mash"),
        (44, "iron-defense"),
    ],
    base: (
        hp: 80,
        atk: 135,
        def: 130,
        sp_atk: 95,
        sp_def: 90,
        speed: 70,
    ),
    species: "Iron",
    height: 16,
    weight: 5500,
    training: (
        base_exp: 270,
        growth_rate: Slow,
    ),
    breeding: (
        gender: None,
    ),
)