(
    id: 150,
    name: "Mewtwo",
    types: (
        primary: Psychic,
        secondary: None,
    ),
    moves: [
        (1, "disable"),
        (22, "mist"),
        (1, "confusion"),
        (66, "psychic"),
        (44, "recover"),
        (11, "barrier"),
        (33, "swift"),
        (99, "amnesia"),
        (55, "safeguard"),
        (77, "psych-up"),
        (88, "future-sight"),
    ],
    base: {
        Health: 106,
        Attack: 110,
        Defense: 90,
        SpAttack: 154,
        SpDefense: 90,
        Speed: 130,
    },
    species: "Genetic",
    evolution: None,
    height: 20,
    weight: 1220,
    training: (
        base_exp: 340,
        growth: Slow,
    ),
    breeding: (
        gender: None,
    ),
)