(
    id: 350,
    name: "Milotic",
    types: (
        primary: Water,
        secondary: None,
    ),
    moves: [
        (5, "wrap"),
        (1, "water-gun"),
        (40, "hydro-pump"),
        (30, "recover"),
        (45, "attract"),
        (50, "safeguard"),
        (25, "twister"),
        (35, "rain-dance"),
        (15, "refresh"),
        (10, "water-sport"),
        (20, "water-pulse"),
    ],
    base: {
        Health: 95,
        Attack: 60,
        Defense: 79,
        SpAttack: 100,
        SpDefense: 125,
        Speed: 81,
    },
    species: "Tender",
    evolution: None,
    height: 62,
    weight: 1620,
    training: (
        base_exp: 189,
        growth: SlowThenVeryFast,
    ),
    breeding: (
        gender: Some(4),
    ),
)