(
    id: 122,
    name: "Mr-mime",
    types: (
        primary: Psychic,
        secondary: Some(Fairy),
    ),
    moves: [
        (15, "double-slap"),
        (29, "psybeam"),
        (5, "confusion"),
        (43, "psychic"),
        (12, "meditate"),
        (1, "barrier"),
        (19, "light-screen"),
        (19, "reflect"),
        (8, "substitute"),
        (50, "safeguard"),
        (47, "baton-pass"),
        (26, "encore"),
        (36, "trick"),
        (40, "role-play"),
        (33, "recycle"),
        (22, "magical-leaf"),
    ],
    base: (
        hp: 40,
        atk: 45,
        def: 65,
        sp_atk: 100,
        sp_def: 120,
        speed: 90,
    ),
    species: "Barrier",
    evolution: None,
    height: 13,
    weight: 545,
    training: (
        base_exp: 161,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)