(
    id: 32,
    name: "Nidoran-m",
    types: (
        primary: Poison,
        secondary: None,
    ),
    moves: [
        (12, "double-kick"),
        (20, "horn-attack"),
        (30, "fury-attack"),
        (47, "horn-drill"),
        (17, "poison-sting"),
        (1, "leer"),
        (1, "peck"),
        (8, "focus-energy"),
        (38, "flatter"),
        (23, "helping-hand"),
    ],
    base: {
        Health: 46,
        Attack: 57,
        Defense: 40,
        SpAttack: 40,
        SpDefense: 40,
        Speed: 50,
    },
    species: "Poison",
    evolution: None,
    height: 5,
    weight: 90,
    training: (
        base_exp: 55,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(0),
    ),
)