(
    id: 29,
    name: "Nidoran-f",
    types: (
        primary: Poison,
        secondary: None,
    ),
    moves: [
        (1, "scratch"),
        (12, "double-kick"),
        (8, "tail-whip"),
        (17, "poison-sting"),
        (20, "bite"),
        (1, "growl"),
        (30, "fury-swipes"),
        (47, "crunch"),
        (38, "flatter"),
        (23, "helping-hand"),
    ],
    base: {
        Health: 55,
        Attack: 47,
        Defense: 52,
        SpAttack: 40,
        SpDefense: 40,
        Speed: 41,
    },
    species: "Poison",
    evolution: None,
    height: 4,
    weight: 70,
    training: (
        base_exp: 55,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(8),
    ),
)