(
    id: 291,
    name: "Ninjask",
    primary_type: Bug,
    secondary_type: Some(Flying),
    moves: [
        (1, "scratch"),
        (25, "swords-dance"),
        (1, "sand-attack"),
        (9, "sand-attack"),
        (38, "agility"),
        (20, "screech"),
        (20, "double-team"),
        (1, "harden"),
        (1, "leech-life"),
        (5, "leech-life"),
        (14, "fury-swipes"),
        (31, "slash"),
        (19, "mind-reader"),
        (20, "fury-cutter"),
        (45, "baton-pass"),
    ],
    base: (
        hp: 61,
        atk: 90,
        def: 45,
        sp_atk: 50,
        sp_def: 50,
        speed: 160,
    ),
    species: "Ninja",
    height: 8,
    weight: 120,
    training: (
        base_exp: 160,
        growth_rate: SlowThenVeryFast,
    ),
    breeding: (
        gender: Some(4),
    ),
)