(
    id: 164,
    name: "Noctowl",
    types: (
        primary: Normal,
        secondary: Some(Flying),
    ),
    moves: [
        (1, "tackle"),
        (33, "take-down"),
        (1, "growl"),
        (1, "peck"),
        (11, "peck"),
        (41, "confusion"),
        (16, "hypnosis"),
        (25, "reflect"),
        (57, "dream-eater"),
        (1, "foresight"),
        (6, "foresight"),
    ],
    base: {
        Health: 100,
        Attack: 50,
        Defense: 50,
        SpAttack: 86,
        SpDefense: 96,
        Speed: 70,
    },
    species: "Owl",
    evolution: None,
    height: 16,
    weight: 408,
    training: (
        base_exp: 158,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)