(
    id: 138,
    name: "Omanyte",
    types: (
        primary: Rock,
        secondary: Some(Water),
    ),
    moves: [
        (31, "leer"),
        (13, "bite"),
        (19, "water-gun"),
        (55, "hydro-pump"),
        (1, "withdraw"),
        (1, "constrict"),
        (37, "protect"),
        (49, "ancient-power"),
        (43, "tickle"),
        (25, "mud-shot"),
    ],
    base: {
        Health: 35,
        Attack: 40,
        Defense: 100,
        SpAttack: 90,
        SpDefense: 55,
        Speed: 35,
    },
    species: "Spiral",
    evolution: None,
    height: 4,
    weight: 75,
    training: (
        base_exp: 71,
        growth: Medium,
    ),
    breeding: (
        gender: Some(1),
    ),
)