(
    id: 46,
    name: "Paras",
    primary_type: Bug,
    secondary_type: Some(Grass),
    moves: [
        (1, "scratch"),
        (37, "growth"),
        (13, "poison-powder"),
        (7, "stun-spore"),
        (19, "leech-life"),
        (25, "spore"),
        (31, "slash"),
        (43, "giga-drain"),
        (49, "aromatherapy"),
    ],
    base: (
        hp: 35,
        atk: 70,
        def: 55,
        sp_atk: 45,
        sp_def: 55,
        speed: 25,
    ),
    species: "Mushroom",
    evolution: None,
    height: 3,
    weight: 54,
    training: (
        base_exp: 57,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)