(
    id: 46,
    name: "Paras",
    types: (
        primary: Bug,
        secondary: Some(Grass),
    ),
    moves: [
        (1, "scratch"),
        (37, "growth"),
        (13, "poison-powder"),
        (7, "stun-spore"),
        (19, "leech-life"),
        (25, "spore"),
        (31, "slash"),
        (43, "giga-drain"),
        (49, "aromatherapy"),
    ],
    base: {
        Health: 35,
        Attack: 70,
        Defense: 55,
        SpAttack: 45,
        SpDefense: 55,
        Speed: 25,
    },
    species: "Mushroom",
    evolution: None,
    height: 3,
    weight: 54,
    training: (
        base_exp: 57,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)