(
    id: 231,
    name: "Phanpy",
    primary_type: Ground,
    secondary_type: None,
    moves: [
        (1, "tackle"),
        (25, "take-down"),
        (49, "double-edge"),
        (1, "growl"),
        (9, "defense-curl"),
        (17, "flail"),
        (41, "endure"),
        (33, "rollout"),
        (1, "odor-sleuth"),
    ],
    base: (
        hp: 90,
        atk: 60,
        def: 60,
        sp_atk: 40,
        sp_def: 40,
        speed: 40,
    ),
    species: "Long",
    evolution: None,
    height: 5,
    weight: 335,
    training: (
        base_exp: 66,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)