(
    id: 172,
    name: "Pichu",
    primary_type: Electric,
    secondary_type: None,
    moves: [
        (6, "tail-whip"),
        (1, "thunder-shock"),
        (8, "thunder-wave"),
        (11, "sweet-kiss"),
        (1, "charm"),
    ],
    base: (
        hp: 20,
        atk: 40,
        def: 15,
        sp_atk: 35,
        sp_def: 35,
        speed: 60,
    ),
    species: "Tiny",
    evolution: None,
    height: 3,
    weight: 20,
    training: (
        base_exp: 41,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)