(
    id: 195,
    name: "Quagsire",
    types: (
        primary: Water,
        secondary: Some(Ground),
    ),
    moves: [
        (11, "slam"),
        (1, "tail-whip"),
        (61, "mist"),
        (1, "water-gun"),
        (42, "earthquake"),
        (61, "haze"),
        (23, "amnesia"),
        (49, "rain-dance"),
        (35, "yawn"),
        (16, "mud-shot"),
    ],
    base: {
        Health: 95,
        Attack: 85,
        Defense: 85,
        SpAttack: 65,
        SpDefense: 65,
        Speed: 35,
    },
    species: "Water",
    evolution: None,
    height: 14,
    weight: 750,
    training: (
        base_exp: 151,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)