(
    id: 19,
    name: "Rattata",
    primary_type: Normal,
    secondary_type: None,
    moves: [
        (1, "tackle"),
        (1, "tail-whip"),
        (7, "quick-attack"),
        (20, "focus-energy"),
        (13, "hyper-fang"),
        (34, "super-fang"),
        (27, "pursuit"),
        (41, "endeavor"),
    ],
    base: (
        hp: 30,
        atk: 56,
        def: 35,
        sp_atk: 25,
        sp_def: 35,
        speed: 72,
    ),
    species: "Mouse",
    evolution: None,
    height: 3,
    weight: 35,
    training: (
        base_exp: 51,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)