(
    id: 223,
    name: "Remoraid",
    primary_type: Water,
    secondary_type: None,
    moves: [
        (1, "water-gun"),
        (44, "ice-beam"),
        (22, "psybeam"),
        (22, "bubble-beam"),
        (22, "aurora-beam"),
        (55, "hyper-beam"),
        (33, "focus-energy"),
        (11, "lock-on"),
    ],
    base: (
        hp: 35,
        atk: 65,
        def: 35,
        sp_atk: 65,
        sp_def: 35,
        speed: 65,
    ),
    species: "Jet",
    evolution: None,
    height: 6,
    weight: 120,
    training: (
        base_exp: 60,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)