(
    id: 112,
    name: "Rhydon",
    types: (
        primary: Ground,
        secondary: Some(Rock),
    ),
    moves: [
        (1, "stomp"),
        (10, "stomp"),
        (1, "horn-attack"),
        (1, "fury-attack"),
        (15, "fury-attack"),
        (38, "horn-drill"),
        (46, "take-down"),
        (1, "tail-whip"),
        (58, "earthquake"),
        (24, "scary-face"),
        (66, "megahorn"),
        (29, "rock-blast"),
    ],
    base: {
        Health: 105,
        Attack: 130,
        Defense: 120,
        SpAttack: 45,
        SpDefense: 45,
        Speed: 40,
    },
    species: "Drill",
    evolution: None,
    height: 19,
    weight: 1200,
    training: (
        base_exp: 170,
        growth: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
)