(
    id: 315,
    name: "Roselia",
    primary_type: Grass,
    secondary_type: Some(Poison),
    moves: [
        (9, "poison-sting"),
        (1, "absorb"),
        (17, "mega-drain"),
        (21, "leech-seed"),
        (5, "growth"),
        (13, "stun-spore"),
        (49, "petal-dance"),
        (45, "toxic"),
        (33, "giga-drain"),
        (37, "sweet-scent"),
        (57, "synthesis"),
        (41, "ingrain"),
        (53, "aromatherapy"),
        (29, "grass-whistle"),
        (25, "magical-leaf"),
    ],
    base: (
        hp: 50,
        atk: 60,
        def: 45,
        sp_atk: 100,
        sp_def: 80,
        speed: 65,
    ),
    species: "Thorn",
    evolution: None,
    height: 3,
    weight: 20,
    training: (
        base_exp: 140,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
)