(
    id: 373,
    name: "Salamence",
    primary_type: Dragon,
    secondary_type: Some(Flying),
    moves: [
        (50, "fly"),
        (1, "headbutt"),
        (17, "headbutt"),
        (93, "double-edge"),
        (1, "leer"),
        (9, "leer"),
        (1, "bite"),
        (5, "bite"),
        (25, "ember"),
        (1, "rage"),
        (21, "focus-energy"),
        (30, "protect"),
        (47, "scary-face"),
        (38, "dragon-breath"),
        (61, "crunch"),
        (79, "dragon-claw"),
    ],
    base: (
        hp: 95,
        atk: 135,
        def: 80,
        sp_atk: 110,
        sp_def: 80,
        speed: 100,
    ),
    species: "Dragon",
    height: 15,
    weight: 1026,
    training: (
        base_exp: 270,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
)