(
    id: 212,
    name: "Scizor",
    types: (
        primary: Bug,
        secondary: Some(Steel),
    ),
    moves: [
        (36, "swords-dance"),
        (1, "leer"),
        (21, "agility"),
        (1, "quick-attack"),
        (6, "focus-energy"),
        (31, "slash"),
        (16, "false-swipe"),
        (46, "fury-cutter"),
        (11, "pursuit"),
        (26, "metal-claw"),
        (41, "iron-defense"),
    ],
    base: {
        Health: 70,
        Attack: 130,
        Defense: 100,
        SpAttack: 55,
        SpDefense: 80,
        Speed: 65,
    },
    species: "Pincer",
    evolution: None,
    height: 18,
    weight: 1180,
    training: (
        base_exp: 175,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)