(
    id: 123,
    name: "Scyther",
    types: (
        primary: Bug,
        secondary: Some(Flying),
    ),
    moves: [
        (36, "swords-dance"),
        (26, "wing-attack"),
        (1, "leer"),
        (21, "agility"),
        (1, "quick-attack"),
        (41, "double-team"),
        (6, "focus-energy"),
        (31, "slash"),
        (16, "false-swipe"),
        (46, "fury-cutter"),
        (11, "pursuit"),
    ],
    base: {
        Health: 70,
        Attack: 110,
        Defense: 80,
        SpAttack: 55,
        SpDefense: 80,
        Speed: 105,
    },
    species: "Mantis",
    evolution: None,
    height: 15,
    weight: 560,
    training: (
        base_exp: 100,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)