(
    id: 119,
    name: "Seaking",
    primary_type: Water,
    secondary_type: None,
    moves: [
        (15, "horn-attack"),
        (29, "fury-attack"),
        (49, "horn-drill"),
        (1, "tail-whip"),
        (1, "supersonic"),
        (10, "supersonic"),
        (1, "peck"),
        (61, "agility"),
        (41, "waterfall"),
        (24, "flail"),
        (69, "megahorn"),
        (1, "water-sport"),
    ],
    base: (
        hp: 80,
        atk: 92,
        def: 65,
        sp_atk: 65,
        sp_def: 80,
        speed: 68,
    ),
    species: "Goldfish",
    evolution: None,
    height: 13,
    weight: 390,
    training: (
        base_exp: 158,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)