(
    id: 273,
    name: "Seedot",
    types: (
        primary: Grass,
        secondary: None,
    ),
    moves: [
        (7, "growth"),
        (3, "harden"),
        (1, "bide"),
        (43, "explosion"),
        (21, "synthesis"),
        (31, "sunny-day"),
        (13, "nature-power"),
    ],
    base: {
        Health: 40,
        Attack: 40,
        Defense: 50,
        SpAttack: 30,
        SpDefense: 30,
        Speed: 30,
    },
    species: "Acorn",
    evolution: None,
    height: 5,
    weight: 40,
    training: (
        base_exp: 44,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
)