(
    id: 336,
    name: "Seviper",
    types: (
        primary: Poison,
        secondary: None,
    ),
    moves: [
        (1, "wrap"),
        (10, "bite"),
        (19, "screech"),
        (43, "haze"),
        (7, "lick"),
        (25, "glare"),
        (37, "swagger"),
        (28, "crunch"),
        (34, "poison-fang"),
        (16, "poison-tail"),
    ],
    base: {
        Health: 73,
        Attack: 100,
        Defense: 60,
        SpAttack: 100,
        SpDefense: 60,
        Speed: 65,
    },
    species: "Fang",
    evolution: None,
    height: 27,
    weight: 525,
    training: (
        base_exp: 160,
        growth: FastThenVerySlow,
    ),
    breeding: (
        gender: Some(4),
    ),
)