(
    id: 319,
    name: "Sharpedo",
    types: (
        primary: Water,
        secondary: Some(Dark),
    ),
    moves: [
        (1, "leer"),
        (1, "bite"),
        (53, "agility"),
        (1, "rage"),
        (7, "rage"),
        (28, "screech"),
        (1, "focus-energy"),
        (13, "focus-energy"),
        (48, "skull-bash"),
        (33, "slash"),
        (16, "scary-face"),
        (43, "swagger"),
        (22, "crunch"),
        (38, "taunt"),
    ],
    base: (
        hp: 70,
        atk: 120,
        def: 40,
        sp_atk: 95,
        sp_def: 40,
        speed: 95,
    ),
    species: "Brutal",
    evolution: None,
    height: 18,
    weight: 888,
    training: (
        base_exp: 161,
        growth: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
)