(
    id: 372,
    name: "Shelgon",
    types: (
        primary: Dragon,
        secondary: None,
    ),
    moves: [
        (1, "headbutt"),
        (17, "headbutt"),
        (78, "double-edge"),
        (1, "leer"),
        (9, "leer"),
        (1, "bite"),
        (5, "bite"),
        (25, "ember"),
        (1, "rage"),
        (21, "focus-energy"),
        (30, "protect"),
        (47, "scary-face"),
        (38, "dragon-breath"),
        (56, "crunch"),
        (69, "dragon-claw"),
    ],
    base: {
        Health: 65,
        Attack: 95,
        Defense: 100,
        SpAttack: 60,
        SpDefense: 50,
        Speed: 50,
    },
    species: "Endurance",
    evolution: None,
    height: 11,
    weight: 1105,
    training: (
        base_exp: 147,
        growth: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
)