(
    id: 275,
    name: "Shiftry",
    types: (
        primary: Grass,
        secondary: Some(Dark),
    ),
    moves: [
        (1, "pound"),
        (1, "growth"),
        (1, "harden"),
        (1, "nature-power"),
    ],
    base: {
        Health: 90,
        Attack: 100,
        Defense: 60,
        SpAttack: 90,
        SpDefense: 60,
        Speed: 80,
    },
    species: "Wicked",
    evolution: None,
    height: 13,
    weight: 596,
    training: (
        base_exp: 240,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
)