(
    id: 285,
    name: "Shroomish",
    types: (
        primary: Grass,
        secondary: None,
    ),
    moves: [
        (22, "headbutt"),
        (4, "tackle"),
        (1, "absorb"),
        (16, "mega-drain"),
        (10, "leech-seed"),
        (36, "growth"),
        (28, "poison-powder"),
        (7, "stun-spore"),
        (54, "spore"),
        (45, "giga-drain"),
    ],
    base: {
        Health: 60,
        Attack: 40,
        Defense: 60,
        SpAttack: 40,
        SpDefense: 60,
        Speed: 35,
    },
    species: "Mushroom",
    evolution: None,
    height: 4,
    weight: 45,
    training: (
        base_exp: 59,
        growth: FastThenVerySlow,
    ),
    breeding: (
        gender: Some(4),
    ),
)