(
    id: 235,
    name: "Smeargle",
    types: (
        primary: Normal,
        secondary: None,
    ),
    moves: [
        (1, "sketch"),
        (11, "sketch"),
        (21, "sketch"),
        (31, "sketch"),
        (41, "sketch"),
        (51, "sketch"),
        (61, "sketch"),
        (71, "sketch"),
        (81, "sketch"),
        (91, "sketch"),
    ],
    base: {
        Health: 55,
        Attack: 20,
        Defense: 35,
        SpAttack: 20,
        SpDefense: 45,
        Speed: 75,
    },
    species: "Painter",
    evolution: None,
    height: 12,
    weight: 580,
    training: (
        base_exp: 88,
        growth: Fast,
    ),
    breeding: (
        gender: Some(4),
    ),
)