(
    id: 361,
    name: "Snorunt",
    types: (
        primary: Ice,
        secondary: None,
    ),
    moves: [
        (19, "headbutt"),
        (1, "leer"),
        (10, "bite"),
        (34, "ice-beam"),
        (43, "blizzard"),
        (7, "double-team"),
        (1, "powder-snow"),
        (25, "protect"),
        (16, "icy-wind"),
        (28, "crunch"),
        (37, "hail"),
    ],
    base: {
        Health: 50,
        Attack: 50,
        Defense: 50,
        SpAttack: 50,
        SpDefense: 50,
        Speed: 50,
    },
    species: "Snow",
    evolution: None,
    height: 7,
    weight: 168,
    training: (
        base_exp: 60,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)