(
    id: 143,
    name: "Snorlax",
    types: (
        primary: Normal,
        secondary: None,
    ),
    moves: [
        (17, "headbutt"),
        (1, "tackle"),
        (33, "body-slam"),
        (53, "hyper-beam"),
        (9, "defense-curl"),
        (5, "amnesia"),
        (25, "rest"),
        (29, "snore"),
        (13, "belly-drum"),
        (49, "rollout"),
        (37, "sleep-talk"),
        (21, "yawn"),
        (41, "block"),
        (45, "covet"),
    ],
    base: (
        hp: 160,
        atk: 110,
        def: 65,
        sp_atk: 65,
        sp_def: 110,
        speed: 30,
    ),
    species: "Sleeping",
    evolution: None,
    height: 21,
    weight: 4600,
    training: (
        base_exp: 189,
        growth: Slow,
    ),
    breeding: (
        gender: Some(1),
    ),
)