(
    id: 338,
    name: "Solrock",
    types: (
        primary: Rock,
        secondary: Some(Psychic),
    ),
    moves: [
        (1, "tackle"),
        (43, "solar-beam"),
        (19, "fire-spin"),
        (13, "rock-throw"),
        (7, "confusion"),
        (1, "harden"),
        (25, "psywave"),
        (49, "explosion"),
        (37, "rock-slide"),
        (31, "cosmic-power"),
    ],
    base: {
        Health: 90,
        Attack: 95,
        Defense: 85,
        SpAttack: 55,
        SpDefense: 65,
        Speed: 70,
    },
    species: "Meteorite",
    evolution: None,
    height: 12,
    weight: 1540,
    training: (
        base_exp: 161,
        growth: Fast,
    ),
    breeding: (
        gender: None,
    ),
)