(
    id: 7,
    name: "Squirtle",
    primary_type: Water,
    secondary_type: None,
    moves: [
        (1, "tackle"),
        (4, "tail-whip"),
        (18, "bite"),
        (13, "water-gun"),
        (47, "hydro-pump"),
        (10, "withdraw"),
        (40, "skull-bash"),
        (7, "bubble"),
        (28, "protect"),
        (23, "rapid-spin"),
        (33, "rain-dance"),
    ],
    base: (
        hp: 44,
        atk: 48,
        def: 65,
        sp_atk: 50,
        sp_def: 64,
        speed: 43,
    ),
    species: "Tiny",
    evolution: None,
    height: 5,
    weight: 90,
    training: (
        base_exp: 63,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(1),
    ),
)