(
    id: 121,
    name: "Starmie",
    types: (
        primary: Water,
        secondary: Some(Psychic),
    ),
    moves: [
        (1, "water-gun"),
        (1, "recover"),
        (33, "confuse-ray"),
        (1, "swift"),
        (1, "rapid-spin"),
    ],
    base: {
        Health: 60,
        Attack: 75,
        Defense: 85,
        SpAttack: 100,
        SpDefense: 85,
        Speed: 115,
    },
    species: "Mysterious",
    evolution: None,
    height: 11,
    weight: 800,
    training: (
        base_exp: 182,
        growth: Slow,
    ),
    breeding: (
        gender: None,
    ),
)