(
    id: 317,
    name: "Swalot",
    primary_type: Poison,
    secondary_type: None,
    moves: [
        (1, "pound"),
        (26, "body-slam"),
        (31, "toxic"),
        (1, "sludge"),
        (14, "sludge"),
        (17, "amnesia"),
        (1, "poison-gas"),
        (9, "poison-gas"),
        (48, "sludge-bomb"),
        (23, "encore"),
        (40, "stockpile"),
        (40, "spit-up"),
        (40, "swallow"),
        (1, "yawn"),
        (6, "yawn"),
    ],
    base: (
        hp: 100,
        atk: 73,
        def: 83,
        sp_atk: 73,
        sp_def: 83,
        speed: 55,
    ),
    species: "Poison",
    evolution: None,
    height: 17,
    weight: 800,
    training: (
        base_exp: 163,
        growth: FastThenVerySlow,
    ),
    breeding: (
        gender: Some(4),
    ),
)