(
    id: 277,
    name: "Swellow",
    types: (
        primary: Normal,
        secondary: Some(Flying),
    ),
    moves: [
        (13, "wing-attack"),
        (1, "growl"),
        (1, "peck"),
        (49, "agility"),
        (1, "quick-attack"),
        (8, "quick-attack"),
        (19, "double-team"),
        (1, "focus-energy"),
        (4, "focus-energy"),
        (28, "endeavor"),
        (38, "aerial-ace"),
    ],
    base: {
        Health: 60,
        Attack: 85,
        Defense: 60,
        SpAttack: 75,
        SpDefense: 50,
        Speed: 125,
    },
    species: "Swallow",
    evolution: None,
    height: 7,
    weight: 198,
    training: (
        base_exp: 159,
        growth: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
)