(
    id: 72,
    name: "Tentacool",
    primary_type: Water,
    secondary_type: Some(Poison),
    moves: [
        (30, "wrap"),
        (1, "poison-sting"),
        (6, "supersonic"),
        (19, "acid"),
        (49, "hydro-pump"),
        (25, "bubble-beam"),
        (43, "screech"),
        (36, "barrier"),
        (12, "constrict"),
    ],
    base: (
        hp: 40,
        atk: 40,
        def: 35,
        sp_atk: 50,
        sp_def: 100,
        speed: 70,
    ),
    species: "Jellyfish",
    height: 9,
    weight: 455,
    training: (
        base_exp: 67,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
)