(
    id: 73,
    name: "Tentacruel",
    primary_type: Water,
    secondary_type: Some(Poison),
    moves: [
        (30, "wrap"),
        (1, "poison-sting"),
        (1, "supersonic"),
        (6, "supersonic"),
        (19, "acid"),
        (55, "hydro-pump"),
        (25, "bubble-beam"),
        (47, "screech"),
        (38, "barrier"),
        (1, "constrict"),
        (12, "constrict"),
    ],
    base: (
        hp: 80,
        atk: 70,
        def: 65,
        sp_atk: 80,
        sp_def: 120,
        speed: 100,
    ),
    species: "Jellyfish",
    evolution: None,
    height: 16,
    weight: 550,
    training: (
        base_exp: 180,
        growth: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
)