(
    id: 201,
    name: "Unown",
    types: (
        primary: Psychic,
        secondary: None,
    ),
    moves: [
        (1, "hidden-power"),
    ],
    base: {
        Health: 48,
        Attack: 72,
        Defense: 48,
        SpAttack: 72,
        SpDefense: 48,
        Speed: 48,
    },
    species: "Symbol",
    evolution: None,
    height: 5,
    weight: 50,
    training: (
        base_exp: 118,
        growth: Medium,
    ),
    breeding: (
        gender: None,
    ),
)