(
    id: 217,
    name: "Ursaring",
    types: (
        primary: Normal,
        secondary: None,
    ),
    moves: [
        (1, "scratch"),
        (49, "thrash"),
        (1, "leer"),
        (1, "lick"),
        (7, "lick"),
        (1, "fury-swipes"),
        (13, "fury-swipes"),
        (31, "rest"),
        (37, "slash"),
        (43, "snore"),
        (25, "feint-attack"),
        (19, "fake-tears"),
    ],
    base: (
        hp: 90,
        atk: 130,
        def: 75,
        sp_atk: 75,
        sp_def: 75,
        speed: 55,
    ),
    species: "Hibernator",
    evolution: None,
    height: 18,
    weight: 1258,
    training: (
        base_exp: 175,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)