(
    id: 13,
    name: "Weedle",
    types: (
        primary: Bug,
        secondary: Some(Poison),
    ),
    moves: [
        (1, "poison-sting"),
        (1, "string-shot"),
    ],
    base: {
        Health: 40,
        Attack: 35,
        Defense: 30,
        SpAttack: 20,
        SpDefense: 20,
        Speed: 50,
    },
    species: "Hairy",
    evolution: None,
    height: 3,
    weight: 32,
    training: (
        base_exp: 39,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)