(
    id: 340,
    name: "Whiscash",
    types: (
        primary: Water,
        secondary: Some(Ground),
    ),
    moves: [
        (11, "water-gun"),
        (36, "earthquake"),
        (56, "fissure"),
        (21, "amnesia"),
        (26, "rest"),
        (26, "snore"),
        (1, "mud-slap"),
        (16, "magnitude"),
        (46, "future-sight"),
        (1, "mud-sport"),
        (6, "mud-sport"),
        (1, "tickle"),
        (1, "water-sport"),
        (6, "water-sport"),
    ],
    base: (
        hp: 110,
        atk: 78,
        def: 73,
        sp_atk: 76,
        sp_def: 71,
        speed: 60,
    ),
    species: "Whiskers",
    evolution: None,
    height: 9,
    weight: 236,
    training: (
        base_exp: 164,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)