(
    id: 194,
    name: "Wooper",
    types: (
        primary: Water,
        secondary: Some(Ground),
    ),
    moves: [
        (11, "slam"),
        (1, "tail-whip"),
        (51, "mist"),
        (1, "water-gun"),
        (36, "earthquake"),
        (51, "haze"),
        (21, "amnesia"),
        (41, "rain-dance"),
        (31, "yawn"),
        (16, "mud-shot"),
    ],
    base: (
        hp: 55,
        atk: 45,
        def: 45,
        sp_atk: 25,
        sp_def: 25,
        speed: 15,
    ),
    species: "Water",
    evolution: None,
    height: 4,
    weight: 85,
    training: (
        base_exp: 42,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)