(
    id: 265,
    name: "Wurmple",
    types: (
        primary: Bug,
        secondary: None,
    ),
    moves: [
        (1, "tackle"),
        (5, "poison-sting"),
        (1, "string-shot"),
    ],
    base: (
        hp: 45,
        atk: 45,
        def: 35,
        sp_atk: 20,
        sp_def: 30,
        speed: 20,
    ),
    species: "Worm",
    evolution: None,
    height: 3,
    weight: 36,
    training: (
        base_exp: 56,
        growth: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
)