(    
	id: "test",
	name: "Test Move",
	category: Special,
	type: Dragon,
	accuracy: None,
	pp: 255,
    usage: (
        execute: Actions([
            Drain(Power(255), 100),
        ]),
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
	target: Any,
	priority: 127,
)