(
    id: "aeroblast",
    name: "Aeroblast",
    category: Special,
    type: Flying,
    accuracy: Some(95),
    pp: 5,
    priority: 0,
    usage: (
        execute: Actions([
            Damage(Power(100)),
        ]),
        target: Any,
        contact: false,
        crit_rate: 1,
    ),
    world: false,
)