(
    id: "aromatherapy",
    name: "Aromatherapy",
    category: Status,
    type: Grass,
    accuracy: None,
    pp: 5,
    priority: 0,
    usage: (
        execute: None,
        target: UserAndAllies,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)