(
    id: "aurora-beam",
    name: "Aurora Beam",
    category: Special,
    type: Ice,
    accuracy: Some(100),
    power: Some(65),
    pp: 20,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    //world: false,
)