(
    id: "bind",
    name: "Bind",
    category: Physical,
    type: Normal,
    accuracy: Some(85),
    pp: 20,
    priority: 0,
    usage: [
        Damage(Power(15)),
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)