(
    id: "blaze-kick",
    name: "Blaze Kick",
    category: Physical,
    type: Fire,
    accuracy: Some(90),
    power: Some(85),
    pp: 10,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 1,
    //world: false,
)