(
    id: "blaze-kick",
    name: "Blaze Kick",
    category: Physical,
    type: Fire,
    accuracy: Some(90),
    pp: 10,
    priority: 0,
    usage: [
        Damage(Power(85)),
        Status(Burn, Permanent, 10),
    ],
    target: Any,
    contact: false,
    crit_rate: 1,
    field_id: None,
)