(
    id: "blizzard",
    name: "Blizzard",
    category: Special,
    type: Ice,
    accuracy: Some(70),
    power: Some(110),
    pp: 5,
    priority: 0,
    target: AllOpponents,
    contact: false,
    crit_rate: 0,
    world: false,
)