(
    id: "blizzard",
    name: "Blizzard",
    category: Special,
    type: Ice,
    accuracy: Some(70),
    pp: 5,
    priority: 0,
    usage: (
        execute: Actions([
            Damage(Power(110)),
            Ailment(Freeze, Permanent, 10),
        ]),
        target: AllOpponents,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)