(
    id: "blue-flare",
    name: "Blue Flare",
    category: Special,
    type: Fire,
    accuracy: Some(85),
    pp: 5,
    priority: 0,
    usage: (
        execute: Actions([
            Damage(Power(130)),
            Ailment(Burn, Permanent, 20),
        ]),
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)