(
    id: "blue-flare",
    name: "Blue Flare",
    category: Special,
    type: Fire,
    accuracy: Some(85),
    pp: 5,
    priority: 0,
    usage: [
        Damage(Power(130)),
        Status(Burn, Permanent, 0.2),
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)