(
    id: "body-slam",
    name: "Body Slam",
    category: Physical,
    type: Normal,
    accuracy: Some(100),
    pp: 15,
    priority: 0,
    usage: [
        Damage(Power(85)),
        Status(Paralysis, Permanent, 0.3),
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)