(
    id: "bullet-seed",
    name: "Bullet Seed",
    category: Physical,
    type: Grass,
    accuracy: Some(100),
    power: Some(25),
    pp: 30,
    priority: 0,
    target: Any,
    world: false,
)