(
    id: "bullet-seed",
    name: "Bullet Seed",
    category: Physical,
    type: Grass,
    accuracy: Some(100),
    pp: 30,
    priority: 0,
    usage: [
        Damage(Power(25)),
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)