(
    id: "bulldoze",
    name: "Bulldoze",
    category: Physical,
    type: Ground,
    accuracy: Some(100),
    pp: 20,
    priority: 0,
    usage: (
        execute: Actions([
            Damage(Power(60)),
            Stat(Basic(Speed), -1),
        ]),
        target: AllOtherPokemon,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)