(
    id: "charge",
    name: "Charge",
    category: Status,
    type: Electric,
    accuracy: None,
    pp: 20,
    priority: 0,
    usage: [
        StatStage(Basic(SpDefense), 1),
    ],
    target: User,
    contact: false,
    crit_rate: 0,
    field_id: None,
)