(
    id: "charge-beam",
    name: "Charge Beam",
    category: Special,
    type: Electric,
    accuracy: Some(90),
    pp: 10,
    priority: 0,
    usage: (
        execute: Actions([
            Damage(Power(50)),
            Chance([
                Stat(Basic(SpAttack), 1),
            ], 70),
        ]),
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)