(
    id: "clear-smog",
    name: "Clear Smog",
    category: Special,
    type: Poison,
    accuracy: None,
    pp: 15,
    priority: 0,
    usage: (
        execute: Actions([
            Damage(Power(50)),
        ]),
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)