(
    id: "close-combat",
    name: "Close Combat",
    category: Physical,
    type: Fighting,
    accuracy: Some(100),
    power: Some(120),
    pp: 5,
    priority: 0,
    target: Any,
    world: false,
)