(
    id: "comet-punch",
    name: "Comet Punch",
    category: Physical,
    type: Normal,
    accuracy: Some(85),
    power: Some(18),
    pp: 15,
    priority: 0,
    target: Any,
    world: false,
)