(
    id: "constrict",
    name: "Constrict",
    category: Physical,
    type: Normal,
    accuracy: Some(100),
    pp: 35,
    priority: 0,
    usage: [
        Damage(Power(10)),
        Chance([
            StatStage(Basic(Speed), -1),
        ], 0.1),
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)