(
    id: "conversion",
    name: "Conversion",
    category: Status,
    type: Normal,
    accuracy: None,
    pp: 30,
    priority: 0,
    usage: (
        execute: None,
        target: User,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)