(
    id: "conversion-2",
    name: "Conversion 2",
    category: Status,
    type: Normal,
    accuracy: None,
    power: None,
    pp: 30,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    world: false,
)