(
    id: "copycat",
    name: "Copycat",
    category: Status,
    type: Normal,
    accuracy: None,
    pp: 20,
    priority: 0,
    usage: [
        Todo,
    ],
    target: User,
    contact: false,
    crit_rate: 0,
    field_id: None,
)