(
    id: "cotton-spore",
    name: "Cotton Spore",
    category: Status,
    type: Grass,
    accuracy: Some(100),
    pp: 40,
    priority: 0,
    usage: (
        execute: Actions([
            Stat(Basic(Speed), -2),
        ]),
        target: AllOpponents,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)