(
    id: "counter",
    name: "Counter",
    category: Physical,
    type: Fighting,
    accuracy: Some(100),
    power: None,
    pp: 20,
    priority: -5,
    target: None,
    contact: false,
    crit_rate: 0,
    world: false,
)