(
    id: "crabhammer",
    name: "Crabhammer",
    category: Physical,
    type: Water,
    accuracy: Some(90),
    pp: 10,
    priority: 0,
    usage: [
        Damage(Power(100)),
    ],
    target: Any,
    contact: false,
    crit_rate: 1,
    field_id: None,
)