(
    id: "cross-poison",
    name: "Cross Poison",
    category: Physical,
    type: Poison,
    accuracy: Some(100),
    pp: 20,
    priority: 0,
    usage: (
        execute: Actions([
            Damage(Power(70)),
            Ailment(Poison, Permanent, 10),
        ]),
        target: Any,
        contact: false,
        crit_rate: 1,
    ),
    world: false,
)