(
    id: "cross-poison",
    name: "Cross Poison",
    category: Physical,
    type: Poison,
    accuracy: Some(100),
    pp: 20,
    priority: 0,
    usage: [
        Damage(Power(70)),
        Status(Poison, Permanent, 10),
    ],
    target: Any,
    contact: false,
    crit_rate: 1,
    field_id: None,
)