(
    id: "crunch",
    name: "Crunch",
    category: Physical,
    type: Dark,
    accuracy: Some(100),
    pp: 15,
    priority: 0,
    usage: [
        Damage(Power(80)),
        Chance([
            StatStage(Basic(Defense), -1),
        ], 20),
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)