(
    id: "curse",
    name: "Curse",
    category: Status,
    type: Ghost,
    accuracy: None,
    pp: 10,
    priority: 0,
    usage: (
        execute: None,
        target: None,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)