(
    id: "cut",
    name: "Cut",
    category: Physical,
    type: Normal,
    accuracy: Some(95),
    power: Some(50),
    pp: 30,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    world: true,
)