(
    id: "dark-pulse",
    name: "Dark Pulse",
    category: Special,
    type: Dark,
    accuracy: Some(100),
    pp: 15,
    priority: 0,
    usage: [
        Damage(Power(80)),
        Chance([
            Flinch,
        ], 0.2),
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)