(
    id: "defense-curl",
    name: "Defense Curl",
    category: Status,
    type: Normal,
    accuracy: None,
    pp: 40,
    priority: 0,
    usage: [
        StatStage(Basic(Defense), 1),
    ],
    target: User,
    contact: false,
    crit_rate: 0,
    field_id: None,
)