(
    id: "destiny-bond",
    name: "Destiny Bond",
    category: Status,
    type: Ghost,
    accuracy: None,
    power: None,
    pp: 5,
    priority: 0,
    target: User,
    contact: false,
    crit_rate: 0,
    world: false,
)