(
    id: "draco-meteor",
    name: "Draco Meteor",
    category: Special,
    type: Dragon,
    accuracy: Some(90),
    power: Some(130),
    pp: 5,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    world: false,
)