(
    id: "dragon-claw",
    name: "Dragon Claw",
    category: Physical,
    type: Dragon,
    accuracy: Some(100),
    power: Some(80),
    pp: 15,
    priority: 0,
    target: Any,
    world: false,
)