(
    id: "dragon-pulse",
    name: "Dragon Pulse",
    category: Special,
    type: Dragon,
    accuracy: Some(100),
    pp: 10,
    priority: 0,
    usage: (
        execute: Actions([
            Damage(Power(85)),
        ]),
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)