(
    id: "dragon-rush",
    name: "Dragon Rush",
    category: Physical,
    type: Dragon,
    accuracy: Some(75),
    power: Some(100),
    pp: 10,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    //world: false,
)