(
    id: "drill-peck",
    name: "Drill Peck",
    category: Physical,
    type: Flying,
    accuracy: Some(100),
    pp: 20,
    priority: 0,
    usage: (
        execute: Actions([
            Damage(Power(80)),
        ]),
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)