(
    id: "drill-run",
    name: "Drill Run",
    category: Physical,
    type: Ground,
    accuracy: Some(95),
    pp: 10,
    priority: 0,
    usage: [
        Damage(Power(80)),
    ],
    target: Any,
    contact: false,
    crit_rate: 1,
    field_id: None,
)