(
    id: "echoed-voice",
    name: "Echoed Voice",
    category: Special,
    type: Normal,
    accuracy: Some(100),
    power: Some(40),
    pp: 15,
    priority: 0,
    target: Any,
    world: false,
)