(
    id: "egg-bomb",
    name: "Egg Bomb",
    category: Physical,
    type: Normal,
    accuracy: Some(75),
    pp: 10,
    priority: 0,
    usage: (
        execute: Actions([
            Damage(Power(100)),
        ]),
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)