(
    id: "electro-ball",
    name: "Electro Ball",
    category: Special,
    type: Electric,
    accuracy: Some(100),
    power: None,
    pp: 10,
    priority: 0,
    target: Any,
    world: false,
)