(
    id: "extrasensory",
    name: "Extrasensory",
    category: Special,
    type: Psychic,
    accuracy: Some(100),
    pp: 20,
    priority: 0,
    usage: (
        execute: Actions([
            Damage(Power(80)),
            Chance([
                Flinch,
            ], 10),
        ]),
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)