(
    id: "fake-out",
    name: "Fake Out",
    category: Physical,
    type: Normal,
    accuracy: Some(100),
    pp: 10,
    priority: 3,
    usage: (
        execute: Actions([
            Damage(Power(40)),
            Flinch,
        ]),
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)