(
    id: "feather-dance",
    name: "Feather Dance",
    category: Status,
    type: Flying,
    accuracy: Some(100),
    pp: 15,
    priority: 0,
    usage: (
        execute: Actions([
            Stat(Basic(Attack), -2),
        ]),
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)