(
    id: "feint-attack",
    name: "Feint Attack",
    category: Physical,
    type: Dark,
    accuracy: None,
    power: Some(60),
    pp: 20,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    world: false,
)