(
    id: "fiery-dance",
    name: "Fiery Dance",
    category: Special,
    type: Fire,
    accuracy: Some(100),
    pp: 10,
    priority: 0,
    usage: [
        Damage(Power(80)),
        Chance([
            StatStage(Basic(SpAttack), 1),
        ], 50),
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)