(
    id: "fire-spin",
    name: "Fire Spin",
    category: Special,
    type: Fire,
    accuracy: Some(85),
    power: Some(35),
    pp: 15,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    //world: false,
)