(
    id: "flare-blitz",
    name: "Flare Blitz",
    category: Physical,
    type: Fire,
    accuracy: Some(100),
    pp: 15,
    priority: 0,
    usage: [
        Drain(Power(120), -33),
        Status(Burn, Permanent, 10),
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)