(
    id: "fury-attack",
    name: "Fury Attack",
    category: Physical,
    type: Normal,
    accuracy: Some(85),
    power: Some(15),
    pp: 20,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    //world: false,
)