(
    id: "gear-grind",
    name: "Gear Grind",
    category: Physical,
    type: Steel,
    accuracy: Some(85),
    power: Some(50),
    pp: 15,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    world: false,
)