(
    id: "glare",
    name: "Glare",
    category: Status,
    type: Normal,
    accuracy: Some(100),
    pp: 30,
    priority: 0,
    usage: [
        Status(Paralysis, Permanent, 0),
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)