(
    id: "grass-knot",
    name: "Grass Knot",
    category: Special,
    type: Grass,
    accuracy: Some(100),
    pp: 20,
    priority: 0,
    usage: [
        Todo,
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)