(
    id: "growl",
    name: "Growl",
    category: Status,
    type: Normal,
    accuracy: Some(100),
    pp: 40,
    priority: 0,
    usage: [
        StatStage(Basic(Attack), -1),
    ],
    target: AllOpponents,
    contact: false,
    crit_rate: 0,
    field_id: None,
)