(
    id: "hammer-arm",
    name: "Hammer Arm",
    category: Physical,
    type: Fighting,
    accuracy: Some(90),
    pp: 10,
    priority: 0,
    usage: (
        execute: Actions([
            Damage(Power(100)),
            Stat(Basic(Speed), -1),
        ]),
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)