(
    id: "head-smash",
    name: "Head Smash",
    category: Physical,
    type: Rock,
    accuracy: Some(80),
    pp: 5,
    priority: 0,
    usage: (
        execute: Actions([
            Drain(Power(150), -50),
        ]),
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)