(
    id: "heal-block",
    name: "Heal Block",
    category: Status,
    type: Psychic,
    accuracy: Some(100),
    pp: 15,
    priority: 0,
    usage: (
        execute: None,
        target: AllOpponents,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)