(
    id: "horn-attack",
    name: "Horn Attack",
    category: Physical,
    type: Normal,
    accuracy: Some(100),
    power: Some(65),
    pp: 25,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    world: false,
)