(
    id: "horn-attack",
    name: "Horn Attack",
    category: Physical,
    type: Normal,
    accuracy: Some(100),
    pp: 25,
    priority: 0,
    usage: [
        Damage(Power(65)),
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)