(
    id: "hyper-fang",
    name: "Hyper Fang",
    category: Physical,
    type: Normal,
    accuracy: Some(90),
    power: Some(80),
    pp: 15,
    priority: 0,
    target: Any,
    world: false,
)