(
    id: "ice-fang",
    name: "Ice Fang",
    category: Physical,
    type: Ice,
    accuracy: Some(95),
    power: Some(65),
    pp: 15,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    world: false,
)