(
    id: "ice-punch",
    name: "Ice Punch",
    category: Physical,
    type: Ice,
    accuracy: Some(100),
    pp: 15,
    priority: 0,
    usage: (
        execute: Actions([
            Damage(Power(75)),
            Ailment(Freeze, Permanent, 10),
        ]),
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)