(
    id: "icy-wind",
    name: "Icy Wind",
    category: Special,
    type: Ice,
    accuracy: Some(95),
    pp: 15,
    priority: 0,
    usage: [
        Damage(Power(55)),
        StatStage(Basic(Speed), -1),
    ],
    target: AllOpponents,
    contact: false,
    crit_rate: 0,
    field_id: None,
)