(
    id: "incinerate",
    name: "Incinerate",
    category: Special,
    type: Fire,
    accuracy: Some(100),
    power: Some(60),
    pp: 15,
    priority: 0,
    target: AllOpponents,
    world: false,
)