(
    id: "ingrain",
    name: "Ingrain",
    category: Status,
    type: Grass,
    accuracy: None,
    power: None,
    pp: 20,
    priority: 0,
    target: User,
    contact: false,
    crit_rate: 0,
    world: false,
)