(
    id: "lava-plume",
    name: "Lava Plume",
    category: Special,
    type: Fire,
    accuracy: Some(100),
    pp: 15,
    priority: 0,
    usage: [
        Damage(Power(80)),
        Status(Burn, Permanent, 0.3),
    ],
    target: AllOtherPokemon,
    contact: false,
    crit_rate: 0,
    field_id: None,
)