(
    id: "leaf-tornado",
    name: "Leaf Tornado",
    category: Special,
    type: Grass,
    accuracy: Some(90),
    power: Some(65),
    pp: 10,
    priority: 0,
    target: Any,
    world: false,
)