(
    id: "leer",
    name: "Leer",
    category: Status,
    type: Normal,
    accuracy: Some(100),
    pp: 30,
    priority: 0,
    usage: (
        execute: Actions([
            Stat(Basic(Defense), -1),
        ]),
        target: AllOpponents,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)