(
    id: "lovely-kiss",
    name: "Lovely Kiss",
    category: Status,
    type: Normal,
    accuracy: Some(75),
    power: None,
    pp: 10,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    //world: false,
)