(
    id: "luster-purge",
    name: "Luster Purge",
    category: Special,
    type: Psychic,
    accuracy: Some(100),
    power: Some(70),
    pp: 5,
    priority: 0,
    target: Any,
    world: false,
)