(
    id: "mach-punch",
    name: "Mach Punch",
    category: Physical,
    type: Fighting,
    accuracy: Some(100),
    power: Some(40),
    pp: 30,
    priority: 1,
    target: Any,
    world: false,
)