(
    id: "magic-room",
    name: "Magic Room",
    category: Status,
    type: Psychic,
    accuracy: None,
    pp: 10,
    priority: 0,
    usage: [
        Todo,
    ],
    target: Todo,
    contact: false,
    crit_rate: 0,
    field_id: None,
)