(
    id: "magnet-rise",
    name: "Magnet Rise",
    category: Status,
    type: Electric,
    accuracy: None,
    pp: 10,
    priority: 0,
    usage: (
        execute: None,
        target: User,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)