(
    id: "me-first",
    name: "Me First",
    category: Status,
    type: Normal,
    accuracy: None,
    pp: 20,
    priority: 0,
    usage: [
        Todo,
    ],
    target: Todo,
    contact: false,
    crit_rate: 0,
    field_id: None,
)