(
    id: "mega-kick",
    name: "Mega Kick",
    category: Physical,
    type: Normal,
    accuracy: Some(75),
    pp: 5,
    priority: 0,
    usage: (
        execute: Actions([
            Damage(Power(120)),
        ]),
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)