(
    id: "mimic",
    name: "Mimic",
    category: Status,
    type: Normal,
    accuracy: None,
    pp: 10,
    priority: 0,
    usage: (
        execute: None,
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)