(
    id: "mirror-move",
    name: "Mirror Move",
    category: Status,
    type: Flying,
    accuracy: None,
    power: None,
    pp: 20,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    world: false,
)