(
    id: "mirror-coat",
    name: "Mirror Coat",
    category: Special,
    type: Psychic,
    accuracy: Some(100),
    pp: 20,
    priority: -5,
    usage: (
        execute: None,
        target: None,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)