(
    id: "mirror-coat",
    name: "Mirror Coat",
    category: Special,
    type: Psychic,
    accuracy: Some(100),
    pp: 20,
    priority: -5,
    usage: [
        Todo,
    ],
    target: Todo,
    contact: false,
    crit_rate: 0,
    field_id: None,
)