(
    id: "mist-ball",
    name: "Mist Ball",
    category: Special,
    type: Psychic,
    accuracy: Some(100),
    power: Some(70),
    pp: 5,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    world: false,
)