(
    id: "mist-ball",
    name: "Mist Ball",
    category: Special,
    type: Psychic,
    accuracy: Some(100),
    pp: 5,
    priority: 0,
    usage: (
        execute: Actions([
            Damage(Power(70)),
            Chance([
                Stat(Basic(SpAttack), -1),
            ], 50),
        ]),
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)