(
    id: "muddy-water",
    name: "Muddy Water",
    category: Special,
    type: Water,
    accuracy: Some(85),
    pp: 10,
    priority: 0,
    usage: [
        Damage(Power(90)),
        Chance([
            StatStage(Accuracy, -1),
        ], 0.3),
    ],
    target: AllOpponents,
    contact: false,
    crit_rate: 0,
    field_id: None,
)