(
    id: "night-daze",
    name: "Night Daze",
    category: Special,
    type: Dark,
    accuracy: Some(95),
    pp: 10,
    priority: 0,
    usage: [
        Damage(Power(85)),
        Chance([
            StatStage(Accuracy, -1),
        ], 40),
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)