(
    id: "odor-sleuth",
    name: "Odor Sleuth",
    category: Status,
    type: Normal,
    accuracy: None,
    power: None,
    pp: 40,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    world: false,
)