(
    id: "perish-song",
    name: "Perish Song",
    category: Status,
    type: Normal,
    accuracy: None,
    pp: 5,
    priority: 0,
    usage: [
        Todo,
    ],
    target: Todo,
    contact: false,
    crit_rate: 0,
    field_id: None,
)