(
    id: "perish-song",
    name: "Perish Song",
    category: Status,
    type: Normal,
    accuracy: None,
    power: None,
    pp: 5,
    priority: 0,
    target: AllPokemon,
    contact: false,
    crit_rate: 0,
    world: false,
)