(
    id: "poison-tail",
    name: "Poison Tail",
    category: Physical,
    type: Poison,
    accuracy: Some(100),
    pp: 25,
    priority: 0,
    usage: [
        Damage(Power(50)),
        Status(Poison, Permanent, 0.1),
    ],
    target: Any,
    contact: false,
    crit_rate: 1,
    field_id: None,
)