(
    id: "poison-fang",
    name: "Poison Fang",
    category: Physical,
    type: Poison,
    accuracy: Some(100),
    pp: 15,
    priority: 0,
    usage: (
        execute: Actions([
            Damage(Power(50)),
            Ailment(Poison, Temporary(15, 15), 50),
        ]),
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)