(
    id: "power-swap",
    name: "Power Swap",
    category: Status,
    type: Psychic,
    accuracy: None,
    pp: 10,
    priority: 0,
    usage: [
        Todo,
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)