(
    id: "present",
    name: "Present",
    category: Physical,
    type: Normal,
    accuracy: Some(90),
    pp: 15,
    priority: 0,
    usage: (
        execute: None,
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)