(
    id: "psycho-cut",
    name: "Psycho Cut",
    category: Physical,
    type: Psychic,
    accuracy: Some(100),
    power: Some(70),
    pp: 20,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 1,
    //world: false,
)