(
    id: "quick-guard",
    name: "Quick Guard",
    category: Status,
    type: Fighting,
    accuracy: None,
    pp: 15,
    priority: 3,
    usage: [
        Todo,
    ],
    target: Todo,
    contact: false,
    crit_rate: 0,
    field_id: None,
)