(
    id: "rage",
    name: "Rage",
    category: Physical,
    type: Normal,
    accuracy: Some(100),
    power: Some(20),
    pp: 20,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    world: false,
)