(
    id: "rain-dance",
    name: "Rain Dance",
    category: Status,
    type: Water,
    accuracy: None,
    pp: 5,
    priority: 0,
    usage: [
        Todo,
    ],
    target: Todo,
    contact: false,
    crit_rate: 0,
    field_id: None,
)