(
    id: "razor-leaf",
    name: "Razor Leaf",
    category: Physical,
    type: Grass,
    accuracy: Some(95),
    pp: 25,
    priority: 0,
    usage: (
        execute: Actions([
            Damage(Power(55)),
        ]),
        target: AllOpponents,
        contact: false,
        crit_rate: 1,
    ),
    world: false,
)