(
    id: "recover",
    name: "Recover",
    category: Status,
    type: Normal,
    accuracy: None,
    pp: 10,
    priority: 0,
    usage: (
        execute: None,
        target: User,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)