(
    id: "rest",
    name: "Rest",
    category: Status,
    type: Psychic,
    accuracy: None,
    pp: 10,
    priority: 0,
    usage: (
        execute: None,
        target: User,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)