(
    id: "rock-wrecker",
    name: "Rock Wrecker",
    category: Physical,
    type: Rock,
    accuracy: Some(90),
    power: Some(150),
    pp: 5,
    priority: 0,
    target: Any,
    world: false,
)