(
    id: "sacred-fire",
    name: "Sacred Fire",
    category: Physical,
    type: Fire,
    accuracy: Some(95),
    pp: 5,
    priority: 0,
    usage: (
        execute: Actions([
            Damage(Power(100)),
            Ailment(Burn, Permanent, 50),
        ]),
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)