(
    id: "sacred-sword",
    name: "Sacred Sword",
    category: Physical,
    type: Fighting,
    accuracy: Some(100),
    power: Some(90),
    pp: 15,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    world: false,
)