(
    id: "sand-attack",
    name: "Sand Attack",
    category: Status,
    type: Ground,
    accuracy: Some(100),
    pp: 15,
    priority: 0,
    usage: [
        StatStage(Accuracy, -1),
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)