(
    id: "searing-shot",
    name: "Searing Shot",
    category: Special,
    type: Fire,
    accuracy: Some(100),
    power: Some(100),
    pp: 5,
    priority: 0,
    target: AllOtherPokemon,
    contact: false,
    crit_rate: 0,
    world: false,
)