(
    id: "secret-sword",
    name: "Secret Sword",
    category: Special,
    type: Fighting,
    accuracy: Some(100),
    pp: 10,
    priority: 0,
    usage: [
        Damage(Power(85)),
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)