(
    id: "seed-flare",
    name: "Seed Flare",
    category: Special,
    type: Grass,
    accuracy: Some(85),
    pp: 5,
    priority: 0,
    usage: (
        execute: Actions([
            Damage(Power(120)),
            Chance([
                Stat(Basic(SpDefense), -2),
            ], 40),
        ]),
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)