(
    id: "self-destruct",
    name: "Self-Destruct",
    category: Physical,
    type: Normal,
    accuracy: Some(100),
    power: Some(200),
    pp: 5,
    priority: 0,
    target: AllOtherPokemon,
    world: false,
)