(
    id: "shadow-claw",
    name: "Shadow Claw",
    category: Physical,
    type: Ghost,
    accuracy: Some(100),
    power: Some(70),
    pp: 15,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 1,
    world: false,
)