(
    id: "sky-uppercut",
    name: "Sky Uppercut",
    category: Physical,
    type: Fighting,
    accuracy: Some(90),
    power: Some(85),
    pp: 15,
    priority: 0,
    target: Any,
    world: false,
)