(
    id: "sleep-powder",
    name: "Sleep Powder",
    category: Status,
    type: Grass,
    accuracy: Some(75),
    pp: 15,
    priority: 0,
    usage: [
        Status(Sleep, Temporary(2, 4), 0),
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)