(
    id: "spacial-rend",
    name: "Spacial Rend",
    category: Special,
    type: Dragon,
    accuracy: Some(95),
    power: Some(100),
    pp: 5,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 1,
    //world: false,
)