(
    id: "spikes",
    name: "Spikes",
    category: Status,
    type: Ground,
    accuracy: None,
    pp: 20,
    priority: 0,
    usage: (
        execute: None,
        target: None,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)