(
    id: "stomp",
    name: "Stomp",
    category: Physical,
    type: Normal,
    accuracy: Some(100),
    pp: 20,
    priority: 0,
    usage: [
        Damage(Power(65)),
        Chance([
            Flinch,
        ], 30),
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)