(
    id: "storm-throw",
    name: "Storm Throw",
    category: Physical,
    type: Fighting,
    accuracy: Some(100),
    power: Some(60),
    pp: 10,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 6,
    //world: false,
)