(
    id: "submission",
    name: "Submission",
    category: Physical,
    type: Fighting,
    accuracy: Some(80),
    pp: 20,
    priority: 0,
    usage: [
        Drain(Power(80), -0.25),
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)