(
    id: "submission",
    name: "Submission",
    category: Physical,
    type: Fighting,
    accuracy: Some(80),
    pp: 20,
    priority: 0,
    usage: (
        execute: Actions([
            Drain(Power(80), -25),
        ]),
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)