(
    id: "sucker-punch",
    name: "Sucker Punch",
    category: Physical,
    type: Dark,
    accuracy: Some(100),
    power: Some(70),
    pp: 5,
    priority: 1,
    target: Any,
    world: false,
)