(
    id: "sunny-day",
    name: "Sunny Day",
    category: Status,
    type: Fire,
    accuracy: None,
    power: None,
    pp: 5,
    priority: 0,
    target: None,
    contact: false,
    crit_rate: 0,
    world: false,
)