(
    id: "super-fang",
    name: "Super Fang",
    category: Physical,
    type: Normal,
    accuracy: Some(90),
    pp: 10,
    priority: 0,
    usage: [
        Todo,
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)