(
    id: "switcheroo",
    name: "Switcheroo",
    category: Status,
    type: Dark,
    accuracy: Some(100),
    pp: 10,
    priority: 0,
    usage: [
        Todo,
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)