(
    id: "swords-dance",
    name: "Swords Dance",
    category: Status,
    type: Normal,
    accuracy: None,
    pp: 20,
    priority: 0,
    usage: [
        StatStage(Basic(Attack), 2),
    ],
    target: User,
    contact: false,
    crit_rate: 0,
    field_id: None,
)