(
    id: "tackle",
    name: "Tackle",
    category: Physical,
    type: Normal,
    accuracy: Some(100),
    power: Some(40),
    pp: 35,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    world: false,
)