(
    id: "tail-glow",
    name: "Tail Glow",
    category: Status,
    type: Bug,
    accuracy: None,
    pp: 20,
    priority: 0,
    usage: [
        StatStage(Basic(SpAttack), 3),
    ],
    target: User,
    contact: false,
    crit_rate: 0,
    field_id: None,
)