(
    id: "tailwind",
    name: "Tailwind",
    category: Status,
    type: Flying,
    accuracy: None,
    pp: 15,
    priority: 0,
    usage: [
        Todo,
    ],
    target: Todo,
    contact: false,
    crit_rate: 0,
    field_id: None,
)