(
    id: "thief",
    name: "Thief",
    category: Physical,
    type: Dark,
    accuracy: Some(100),
    pp: 25,
    priority: 0,
    usage: (
        execute: Actions([
            Damage(Power(60)),
        ]),
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)