(
    id: "thunder",
    name: "Thunder",
    category: Special,
    type: Electric,
    accuracy: Some(70),
    pp: 10,
    priority: 0,
    usage: [
        Damage(Power(110)),
        Status(Paralysis, Permanent, 30),
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)