(
    id: "thunder-shock",
    name: "Thunder Shock",
    category: Special,
    type: Electric,
    accuracy: Some(100),
    pp: 30,
    priority: 0,
    usage: (
        execute: Actions([
            Damage(Power(40)),
            Ailment(Paralysis, Permanent, 10),
        ]),
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)