(
    id: "twineedle",
    name: "Twineedle",
    category: Physical,
    type: Bug,
    accuracy: Some(100),
    pp: 20,
    priority: 0,
    usage: [
        Damage(Power(25)),
        Status(Poison, Permanent, 0.2),
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)