(
    id: "v-create",
    name: "V-create",
    category: Physical,
    type: Fire,
    accuracy: Some(95),
    pp: 5,
    priority: 0,
    usage: [
        Damage(Power(180)),
        StatStage(Basic(Defense), -1),
        StatStage(Basic(SpDefense), -1),
        StatStage(Basic(Speed), -1),
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)