(
    id: "wake-up-slap",
    name: "Wake-Up Slap",
    category: Physical,
    type: Fighting,
    accuracy: Some(100),
    power: Some(70),
    pp: 10,
    priority: 0,
    target: Any,
    world: false,
)