(
    id: "water-pulse",
    name: "Water Pulse",
    category: Special,
    type: Water,
    accuracy: Some(100),
    pp: 20,
    priority: 0,
    usage: (
        execute: Actions([
            Damage(Power(60)),
        ]),
        target: Any,
        contact: false,
        crit_rate: 0,
    ),
    world: false,
)