(
    id: "weather-ball",
    name: "Weather Ball",
    category: Special,
    type: Normal,
    accuracy: Some(100),
    power: Some(50),
    pp: 10,
    priority: 0,
    target: Any,
    contact: false,
    crit_rate: 0,
    world: false,
)