(
    id: "wild-charge",
    name: "Wild Charge",
    category: Physical,
    type: Electric,
    accuracy: Some(100),
    power: Some(90),
    pp: 15,
    priority: 0,
    target: Any,
    world: false,
)