(
    id: "will-o-wisp",
    name: "Will-O-Wisp",
    category: Status,
    type: Fire,
    accuracy: Some(85),
    pp: 15,
    priority: 0,
    usage: [
        Status(Burn, Permanent, 0),
    ],
    target: Any,
    contact: false,
    crit_rate: 0,
    field_id: None,
)