(
    id: "antidote",
    name: "Antidote",
    description: "A spray-type medicine.\\nIt heals one POKéMON from a\\npoisoning.",
    category: Items,
    price: 100,
    stackable: Stackable(999),
    consume: true,
    usage: (
        conditions: [],
        execute: None,
    ),
)