(
    id: "dome_fossil",
    name: "Dome Fossil",
    description: "A fossil of an ancient, seafloor-\\ndwelling POKéMON. It appears to be\\npart of a shell.",
    category: KeyItems,
    price: 0,
    stackable: Stackable(999),
    consume: true,
    usage: (
        conditions: [],
        execute: None,
    ),
)