(
    id: "fresh_water",
    name: "Fresh Water",
    description: "Water with a high mineral content.\\nIt restores the HP of one POKéMON\\nby 50 points.",
    category: Items,
    price: 200,
    stackable: Stackable(999),
    consume: true,
    usage: (
        conditions: [],
        execute: None,
    ),
)