(
    id: "hp_up",
    name: "Hp Up",
    description: "A nutritious drink for POKéMON.\\nIt raises the base HP of one\\nPOKéMON.",
    category: Items,
    price: 9800,
    stackable: Stackable(999),
    consume: true,
    usage: (
        conditions: [],
        execute: None,
    ),
)