(
    id: "leftovers",
    name: "Leftovers",
    description: "An item to be held by a POKéMON.\\nThe holding POKéMON gradually\\nregains HP during battle.",
    category: Items,
    price: 200,
    stackable: Stackable(999),
    consume: true,
    usage: (
        conditions: [],
        execute: None,
    ),
)