(
    id: "soothe_bell",
    name: "Soothe Bell",
    description: "An item to be held by a POKéMON.\\nA bell with a comforting chime that\\nmakes the holder calm and friendly.",
    category: Items,
    price: 100,
    stackable: Stackable(999),
    consume: true,
    usage: (
        conditions: [],
        execute: None,
    ),
)