(
    id: "yellow_shard",
    name: "Yellow Shard",
    description: "A small yellow shard.\\nIt appears to be from some sort of\\na tool made long ago.",
    category: Items,
    price: 200,
    stackable: Stackable(999),
    consume: true,
    usage: (
        conditions: [],
        execute: None,
    ),
)